<div class="container">

  <%= simple_form_for @unidade, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :sigla %>
    <%= f.input :nome %>
    <%= f.input :diretor %>
    <%= f.input :email, hint: "E-mail de contato da unidade" %>

    <%= link_to icon("arrow-left", "Voltar"), unidades_path, class: "btn btn-warning" %>
    <button type="submit" class="btn btn-success">Salvar</button>
  <% end %>

</div>
