<div class="container">

  <%= simple_form_for @unidade, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :sigla, required: true %>
    <%= f.input :nome, required: true %>
    <%= f.input :diretor %>
    <%= f.input :email, hint: "E-mail de contato da unidade" %>
    <%= f.input :telefone %>

    <%= link_to icon("arrow-left", "Voltar"), unidades_path, class: "btn btn-warning" %>
    <button type="submit" class="btn btn-success"><%= glyphicon("ok") %> Salvar</button>
    <%= link_to @unidade, method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, class: "btn btn-danger" do %>
      <%= glyphicon("trash") %> Excluir
    <% end %>
  <% end %>

</div>
