<% provide(:title, "Editando unidade ##{@unidade.sigla}") %>

<div class="container">

  <h3><%= yield(:title) %></h3>

  <%= simple_form_for @unidade do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :sigla %>
    <%= f.input :nome %>
    <%= f.input :diretor %>
    <%= f.input :email, hint: "E-mail de contato da unidade" %>

    <button type="submit" class="btn btn-success">Criar</button>
  <% end %>

</div>
