<div class="container">
  <h4>Unidades Acadêmicas e Unidades Especiais de Ensino</h4>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Sigla</th>
        <th>Nome</th>
        <th>Diretor(a)</th>
        <th>E-mail</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @unidades.each do |unidade| %>
        <tr>
          <td><%= unidade.sigla %></td>
          <td><%= unidade.nome %></td>
          <td><%= unidade.diretor %></td>
          <td><%= unidade.email %></td>
          <td>
            <%= link_to button_tag("Editar", type: "button", class: "btn btn-primary"), edit_unidade_path(unidade) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to button_tag("Nova Unidade", type: "button", class: "btn btn-success"), new_unidade_path %>
</div>