<tr class="nested-fields">
  <td class="criterio borda"><%= f.text_field :nome, required: true, class: "form-control required" %></td>
  <td class="descricao borda"><%= f.text_area :descricao, placeholder: "O que espera do candidato neste critério", required: true, class: "form-control required" %></td>
  <td class="valor borda"><%= f.text_field :valor, required: true, class: "form-control required", locale: "br" %></td>
  <td><%= link_to_remove_association button_tag(icon("times", "Remover"), type: "button", class: "btn btn-danger"), f %></td>
<%= f.hidden_field :tipo_prova, value: tipo %>
</tr>
