<table class="table table-condensed index areas" id="areas-list">
  <thead>
    <tr>
      <th>Unidade</th>
      <th>Área</th>
      <th>Subárea</th>
      <th>Tipo</th>
      <th>Situação</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @areas.sort_by{ |area| area[:unidade_id] }.each do |area| %>
    <% @admin = current_user.pode_criar_edital? %>
    <% @tem_acesso = @admin || current_user.unidade_id == area.unidade_id %>
    <% if area.confirmada
      mensagem = "Enviada"
      classe = "alert-success"
      icone = "glyphicon glyphicon-share"
      else
        area.confirmada = true
        if area.valid?
          mensagem = "Verificada"
          classe = "alert-info"
          icone = "glyphicon glyphicon-ok-sign"
        else
          mensagem = "Pendências"
          classe = "alert-danger"
          icone = "glyphicon glyphicon-exclamation-sign"
        end
      end %>
    <tr class="<%= classe %>">
      <td class="unidade"><%= area.unidade.sigla %></td>
      <td class="area"><%= area.nome %></td>
      <td class="area"><%= area.subarea %></td>
      <td class="tipo"><%= tipo_certame[area.tipo] %></td>
      <td class="situacao">
        <span class="<%= icone %>"></span> <%= mensagem %>
      </td>
      <td>
        <%= simple_form_for area, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' } do |f| %>
          <%= f.hidden_field :tipo %>
          <% if mensagem == "Pendências" || mensagem == "Verificada" || @admin %>
            <%= link_to edit_area_path(area), data: { toggle: 'tooltip', placement: 'top' }, class: "btn btn-primary btn-sm", title: 'Editar' do %>
              <%= glyphicon("pencil") %>
            <% end %>
          <% end %>
          <% if mensagem == "Verificada" && (@tem_acesso || @admin) %>
            <%= button_tag(type: 'submit', name: "commit", value: "Confirm", class: "btn btn-success btn-sm", data: { confirm: 'Tem certeza que deseja finalizar? Não será possível editar as informações.', toggle: 'tooltip', placement: 'top' }, title: "Enviar") do %>
              <%= glyphicon("share") %>
            <% end %>
          <% end %>
          <% if mensagem != "Enviada" || @admin %>
            <%= link_to @area, method: :delete, data: { confirm: "Tem certeza que deseja excluir?", toggle: 'tooltip', placement: 'top' }, class: "btn btn-danger btn-sm", title: 'Excluir' do %>
              <%= glyphicon("trash") %>
            <% end %>
          <% end %>
          <% if @admin %>
            <%= link_to area_vaga_path(area), data: { toggle: 'tooltip', placement: 'top' }, class: "btn btn-info btn-sm", title: 'Vaga' do %>
              <%= glyphicon("user") %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>