<tr class="nested-fields">
  <td class="descricao-titulo borda"><%= f.text_area :descricao, required: true, class: "form-control required" %></td>
  <td class="comprovacao borda"><%= f.text_area :comprovacao, required: true, class: "form-control required" %></td>
  <td class="valor borda">
    <%= f.text_field :valor, required: true, class: "form-control numero required", value: number_with_precision(f.object.valor, precision: 3, strip_insignificant_zeros: true) %>
    pontos <br />por <%= f.autocomplete_field :unidade_medida, autocomplete_titulo_unidade_medida_areas_path, :full => true, 'data-showNoMatches' => false, 'data-noMatchesLabel' => 'nenhum item encontrado', 'data-min-length' => 1 %>
  </td>
  <td class="maximo borda">
    <%= f.text_field :maximo, required: true, class: "form-control required", value: number_with_precision(f.object.maximo, precision: 3, strip_insignificant_zeros: true) %> pontos
    <p class="texto-maximo"></p>
  </td>
  <td><%= link_to_remove_association button_tag(icon("times", "Remover"), type: "button", class: "btn btn-danger btn-sm"), f %></td>
<%= f.hidden_field :tipo, value: tipo %>
<%= f.hidden_field :prorrogacao, value: prorrogacao %>
</tr>
