<div class="container">
  <div class="aviso-mi alert alert-danger" >
    A Unidade deve enviar um Memorando Interno (MI) à Pró-Reitoria de Gestão de Pessoas, solicitando a abertura do edital.
  </div>

  <ul class="nav nav-tabs">
    <li><a href="#inicial" data-toggle="tab">Início</a></li>
    <li><a href="#escrita" data-toggle="tab">Prova Escrita</a></li>
    <li><a href="#didatica" data-toggle="tab">Prova Didática</a></li>
    <li><a href="#titulos" data-toggle="tab">Análise de Títulos</a></li>
  </ul>

  <% @confirmada = @area.confirmada %>
  <% @area.confirmada = true unless (@area.created_at == @area.updated_at) %>
  <% @area.valid? %>
  <% @area.confirmada = @confirmada %>
  <% @tem_acesso = current_user.pode_criar_edital? || current_user.unidade_id == @area.unidade_id %>

  <% if @confirmada && !current_user.pode_criar_edital? %>
    <div class="alert alert-info">Essa solicitação já foi enviada à PROGEP. Caso seja necessário fazer alguma alteração, entre em contato.</div>
  <% elsif !@tem_acesso %>
    <div class="alert alert-warning">Você não tem acesso para editar esta área.</div>
  <% else %>
    <div class="tab-content" id="editar-area">
      <div class="mensagem-ok alert alert-success"></div>
      <div class="tab-pane active" id="inicial">
        <%= simple_form_for @area do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= hidden_field_tag "secao", "inicial" %>

          <div class="bloco-inicial">
            <%= f.input :tipo, required: true, as: :select, collection: tipo_certame.map { |tipo| [tipo[1], tipo[0]] } %>
            <% if @area.tipo == 'concurso' %>
              <% regimes = regime_de_trabalho %>
              <% tipos_vaga = vagas_efetivo %>
            <% else %>
              <% regimes = regime_de_trabalho.except("DE") %>
              <% tipos_vaga = vagas_substituto %>
            <% end %>
            <div class="vaga">
              <label class="string control-label vaga">Vaga</label>
              <%= f.input :tipo_vaga, required: true, collection: tipos_vaga, label: "Tipo", hint: "Licença, aposentadoria, cargo" %>
              <%= f.input :nome_vaga, required: true, label: "Nome", hint: "Docente desligado ou afastado, ou projeto novo" %>
            </div>
            <%= f.input :nome, label: "Área", required: true, autofocus: true %>
            <%= f.input :subarea, label: "Subárea (OPCIONAL)" %>
            <%= f.input :curso, label: "Curso (OPCIONAL)" %>
            <%= f.input :campus, required: true, collection: lista_campus %>
            <div class="qualificacao">
              <strong>Qualificação Mínima Exigida</strong>
              <div>
                <%= f.input :graduacao, label: "Graduação" %>
                <%= f.input :descricao_graduacao, placeholder: "Use 'ou' para separar as possíveis opções", label: "em" %>
              </div>
              <div>
                <%= f.input :especializacao, label: "Especialização" %>
                <%= f.input :descricao_especializacao, placeholder: "Use 'ou' para separar as possíveis opções", label: "em" %>
              </div>
              <div>
                <%= f.input :mestrado %>
                <%= f.input :descricao_mestrado, placeholder: "Use 'ou' para separar as possíveis opções", label: "em" %>
              </div>
              <div>
                <%= f.input :doutorado %>
                <%= f.input :descricao_doutorado, placeholder: "Use 'ou' para separar as possíveis opções", label: "em" %>
              </div>
            </div>
            <%= f.input :disciplinas, label: "Disciplinas a serem ministradas (OPCIONAL)" %>
            <%= f.input :regime, label: "Regime de Trabalho", required: true, as: :select, collection: regimes.map{|regime| [regime[1], regime[0]]} %>
            <div id="aviso-regime"></div>
            <%= f.input :vagas, as: :string, required: true, wrapper_html: { class: "vagas" } %>
            <%= f.input :prorrogar, label: "Prorrogar inscrições?", hint: "Por mais 7 (sete) dias" %>
            <%= f.input :mantem_qualificacao, as: :radio_buttons, collection: [['Mantendo a mesma qualificação', true],['Alterando a qualificação para:', false]], label: false %>
            <%= f.input :qualif_prorrogar, label: false %>
          </div>

          <button type="submit" class="btn btn-success" id="salvar-inicial"><%= glyphicon("ok") %> Salvar</button>
        <% end %>
      </div>

      <div class="tab-pane active" id="escrita">
        <%= simple_form_for @area do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= hidden_field_tag "secao", "escrita" %>

          <div class="prova-escrita">
            <h3>Prova Escrita</h3>
            <div class="panel panel-default escrita">
              <div class="panel-heading">
                Critérios de correção da Prova Escrita
              </div>
              <div class="panel-body">
                <div class="mensagem-erro"></div>
                <table class="table criterios criterios-escrita">
                  <thead>
                    <tr>
                      <td class="borda">Critério</td>
                      <td class="borda">Descrição</td>
                      <td class="borda">Valor</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :criterios, @area.criterios.select{ |c| c.tipo_prova == 'escrita' } do |options_form| %>
                      <%= render 'criterio_fields', f: options_form, tipo: "escrita" %>
                    <% end %>
                  </tbody>
                </table>

                <div class="links">
                  <%= link_to_add_association button_tag(icon("plus", "Critério"), type: "button", class: "btn btn-primary add"), f, :criterios, render_options: { locals: { tipo: 'escrita' } }, data: { association_insertion_node: '.criterios-escrita', association_insertion_method: 'append' } %>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-success" id="salvar-escrita"><%= glyphicon("ok") %></span> Salvar</button>
        <% end %>
      </div>

      <div class="tab-pane active" id="didatica">
        <%= simple_form_for @area do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= hidden_field_tag "secao", "didatica" %>

          <div class="prova-didatica">
            <h3>Prova Didática</h3>

            <%= f.input :prova_didatica, label: "Haverá prova didática pedagógica?", disabled: @area.tipo == 'concurso' %>
            <div class="panel panel-default didatica">
              <div class="panel-heading">
                Critérios de correção da Prova Didática Pedagógica
              </div>
              <div class="panel-body">
                <div class="mensagem-erro"></div>
                <table class="table criterios criterios-didatica">
                  <thead>
                    <tr>
                      <td class="borda">Critério</td>
                      <td class="borda">Descrição</td>
                      <td class="borda">Valor</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :criterios, @area.criterios.select{ |c| c.tipo_prova == 'didatica' } do |options_form| %>
                      <%= render 'criterio_fields', f: options_form, tipo: "didatica" %>
                    <% end %>
                  </tbody>
                </table>

                <div class="links">
                  <%= link_to_add_association button_tag(icon("plus", "Critério"), type: "button", class: "btn btn-primary add"), f, :criterios, render_options: { locals: { tipo: 'didatica' } }, data: { association_insertion_node: '.criterios-didatica', association_insertion_method: 'append' } %>
                </div>
              </div>
            </div>

            <%= f.input :prova_procedimental, label: "Haverá prova didática procedimental?" %>
            <div class="procedimental-esconder">
              <div class="alert alert-warning">
                No caso de prova procedimental, deve ser informada a duração mínima e máxima, e deve ser encaminhada justificativa circunstanciada da necessidade de realização desta prova junto com o MI à PROGEP.
              </div>
              <%= f.input :min_procedimental, label: "Duração mínima", placeholder: "Por exemplo: 40 minutos ou 1 hora e 10 minutos" %>
              <%= f.input :max_procedimental, label: "Duração máxima", placeholder: "Por exemplo: 40 minutos ou 1 hora e 10 minutos" %>
            </div>

            <div class="panel panel-default procedimental">
              <div class="panel-heading">
                Critérios de correção da Prova Didática Procedimental
              </div>
              <div class="panel-body">
                <div class="mensagem-erro"></div>
                <table class="table criterios criterios-procedimental">
                  <thead>
                    <tr>
                      <td class="borda">Critério</td>
                      <td class="borda">Descrição</td>
                      <td class="borda">Valor</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :criterios, @area.criterios.select{ |c| c.tipo_prova == 'procedimental' } do |options_form| %>
                      <%= render 'criterio_fields', f: options_form, tipo: "procedimental" %>
                    <% end %>
                  </tbody>
                </table>

                <div class="links">
                  <%= link_to_add_association button_tag(icon("plus", "Critério"), type: "button", class: "btn btn-primary add"), f, :criterios, render_options: { locals: { tipo: 'procedimental' } }, data: { association_insertion_node: '.criterios-procedimental', association_insertion_method: 'append' } %>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-success" id="salvar-didatica"><%= glyphicon("ok") %> Salvar</button>
        <% end %>
      </div>

      <div class="tab-pane active" id="titulos">
        <%= simple_form_for @area do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= hidden_field_tag "secao", "titulos" %>

          <% if @area.tipo == 'concurso' && ['ESEBA','ESTES'].exclude?(@area.unidade.sigla)
            max_atividades = 20
            max_producao = 80
          else
            max_atividades = 45
            max_producao = 45
            end %>
          <%= hidden_field_tag "maximo-atividades", max_atividades %>
          <%= hidden_field_tag "maximo-producao", max_producao %>

          <div class="titulos">
            <h3>Análise de Títulos</h3>
            <div class="panel panel-default atividades">
              <div class="panel-heading">
                Valoração das atividades didáticas e/ou profissionais nos últimos 5 (cinco) anos. <strong style="margin-left: 20px; font-size: 16px;">Máximo: <%= max_atividades %> pontos</strong>
              </div>
              <div class="panel-body">
                <div class="mensagem-erro"></div>
                <table class="table titulos atividades">
                  <thead>
                    <tr>
                      <td class="borda">Descrição</td>
                      <td class="borda">Pontuação individual</td>
                      <td class="borda">Pontuação máxima</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :titulos, @area.titulos.where(tipo: 'atividades') do |options_form| %>
                      <%= render 'titulo_fields', f: options_form, tipo: "atividades", prorrogacao: false %>
                    <% end %>
                  </tbody>
                </table>

                <div class="links">
                  <%= link_to_add_association button_tag(icon("plus", "Item"), type: "button", class: "btn btn-primary add"), f, :titulos, render_options: { locals: { tipo: 'atividades', prorrogacao: false } }, data: { association_insertion_node: '.table.atividades', association_insertion_method: 'append' } %>
                </div>
              </div>
            </div>

            <div class="panel panel-default producao">
              <div class="panel-heading">
                Valoração da produção científica e/ou artística nos últimos 5 (cinco) anos. <strong style="margin-left: 20px; font-size: 16px;">Máximo: <%= max_producao %> pontos</strong>
              </div>
              <div class="panel-body">
                <div class="mensagem-erro"></div>
                <table class="table titulos producao">
                  <thead>
                    <tr>
                      <td class="borda">Descrição</td>
                      <td class="borda">Pontuação individual</td>
                      <td class="borda">Pontuação máxima</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :titulos, @area.titulos.where(tipo: 'producao', prorrogacao: false) do |options_form| %>
                      <%= render 'titulo_fields', f: options_form, tipo: "producao", prorrogacao: false %>
                    <% end %>
                  </tbody>
                </table>

                <div class="links">
                  <%= link_to_add_association button_tag(icon("plus", "Item"), type: "button", class: "btn btn-primary add"), f, :titulos, render_options: { locals: { tipo: 'producao', prorrogacao: false } }, data: { association_insertion_node: '.table.producao', association_insertion_method: 'append' } %>
                </div>
              </div>
            </div>

            <% if @area.tabela_producao_adicional? %>
              <div class="alert alert-warning">Como as inscrições podem ser prorrogadas, você deve definir uma outra tabela de pontuação com máximo de 70 pontos. <% @area.titulos.where(tipo: 'producao', prorrogacao: true).length < 1 ? "Clique no botão abaixo para copiar os itens e a pontuação ajustada proporcionalmente. Você pode fazer as alterações que achar necessárias" : "" %></div>
              <% if @area.titulos.where(tipo: 'producao', prorrogacao: true).length < 1 %>
                <button type="button" id="clonar" class="btn btn-info">Copiar</button>
              <% end %>

              <div class="panel panel-default producao producao-prorrogacao">
                <div class="panel-heading">
                  Valoração da produção científica e/ou artística nos últimos 5 (cinco) anos. <strong style="margin-left: 20px; font-size: 16px;">Máximo: 70 pontos</strong>
                </div>
                <div class="panel-body">
                  <div class="mensagem-erro"></div>
                  <table class="table titulos producao-prorrogacao">
                    <thead>
                      <tr>
                        <td class="borda">Descrição</td>
                        <td class="borda">Pontuação individual</td>
                        <td class="borda">Pontuação máxima</td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <%= f.fields_for :titulos, @area.titulos.where(tipo: 'producao', prorrogacao: true) do |options_form| %>
                        <%= render 'titulo_fields', f: options_form, tipo: "producao", prorrogacao: true %>
                      <% end %>
                    </tbody>
                  </table>

                  <div class="links">
                    <%= link_to_add_association button_tag(icon("plus", "Item"), type: "button", class: "btn btn-primary add"), f, :titulos, render_options: { locals: { tipo: 'producao', prorrogacao: true } }, data: { association_insertion_node: '.table.producao-prorrogacao', association_insertion_method: 'append' } %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <div id="coautoria">
            <span class="coautoria">Os trabalhos em coautoria receberão: <%= f.input :coautoria, as: :string, required: true, label: false %>% da pontuação dos trabalhos de autoria exclusiva do candidato.</span>
            <p class="dica">(Para mesma pontuação, preencha 100)</p>
          </div>

          <button type="submit" class="btn btn-success" id="salvar-titulos"><%= glyphicon("ok") %> Salvar</button>
        <% end %>
      </div>

    </div>
  <% end %>
  <script>
  // Tabs do bootstrap
  $('a[href="#<%=j params[:secao] %>"]').tab('show');
  // Salva a seção atual no form do botão Enviar
  $('a[data-toggle="tab"]').on('shown.bs.tab', function() {
    var secao = $(this).prop("href").split("#")[1];
    $(".botoes").find("input[name=secao]").val(secao);
  });
  </script>

  <div class="botoes">
    <%= simple_form_for @area, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' } do |f| %>
      <%= f.hidden_field :tipo %>
      <%= hidden_field_tag "secao", "inicial" %>
      <% if current_user.pode_criar_edital? %>
        <%= f.input :confirmada %>
      <% end %>
      <%= link_to icon("arrow-left", "Voltar"), areas_path, id: "voltar", class: "btn btn-warning" %>
      <% if current_user.pode_criar_edital? %>
        <button type="submit" class="btn btn-success" id="salvar-titulos"><%= glyphicon("ok") %> Salvar</button>
      <% end %>
      <% if (!@confirmada && @tem_acesso) || current_user.pode_criar_edital? %>
        <%= button_tag(type: 'submit', id: "enviar", name: "commit", value: "Confirm", class: "btn btn-primary", data: { confirm: 'Tem certeza que deseja finalizar? Não será possível editar as informações.' }) do %>
          <%= glyphicon("share") %> Enviar
        <% end %>

        <%= link_to @area, method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, id: "excluir", class: "btn btn-danger" do %>
          <%= glyphicon("trash") %> Excluir
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<script>
// Ao mudar o tipo, devem ser atualizados os tipos de vaga e regimes de trabalho possíveis
// http://stackoverflow.com/a/1801515/3059369
$("#area_tipo").on('change', function() {
  $tipo = $(this).val();
  $tipo_vaga = $("#area_tipo_vaga");
  $regime = $("#area_regime");
  if ($tipo == 'concurso') {
    var regimes = JSON.parse('<%=j regime_de_trabalho.to_json.html_safe %>');
    $regime.empty();
    $.each(regimes, function(value,key) {
      $regime.append($("<option></option>").attr("value", value).text(key));
    });

    var tipos = JSON.parse('<%=j Hash[[["",""]] + vagas_efetivo.map{|value| [value, value]}].to_json.html_safe %>');
    $tipo_vaga.empty();
    $.each(tipos, function(value) {
      $tipo_vaga.append($("<option></option>").attr("value", value).text(value));
    });
  }
  if ($tipo == 'processo') {
    var regimes = JSON.parse('<%=j regime_de_trabalho.except("DE").to_json.html_safe %>');
    $regime.empty();
    $.each(regimes, function(value,key) {
      $regime.append($("<option></option>").attr("value", value).text(key));
    });

    var tipos = JSON.parse('<%=j Hash[[["",""]] + vagas_substituto.map{|value| [value, value]}].to_json.html_safe %>');
    $tipo_vaga.empty();
    $.each(tipos, function(value) {
      $tipo_vaga.append($("<option></option>").attr("value", value).text(value));
    });
  }
})
</script>
