<div class="container">

  <%= simple_form_for @area, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :tipo, as: :select, collection: [["Concurso Público","concurso"],["Processo Seletivo Simplificado","processo"]] %>
    <%= f.input :nome %>
    <%= f.input :subarea %>
    <%= f.input :campus %>
    <%= f.input :qualificacao %>
    <%= f.input :regime, as: :select, collection: [["20 horas","20"], ["40 horas","40"], ["Dedicação Exclusiva","DE"]].map{|regime| [regime[0], regime[1]]} %>
    <%= f.input :vagas %>
    <%= f.input :prorrogar %>
    <%= f.input :qualif_prorrogar, disabled: true %>
    <%= f.input :data_prova %>

    <%= link_to icon("arrow-left", "Voltar"), areas_path, class: "btn btn-warning" %>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar</button>
    <%= link_to @area, method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
    <% end %>
  <% end %>

</div>
