<div class="container">

  <%= simple_form_for @area, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :proximo, as: :hidden, input_html: { value: "didatica" } %>

    <div class="prova-escrita">
      <h3>Prova Escrita</h3>
      <div class="panel panel-default escrita">
        <div class="panel-heading">
          Critérios de correção da Prova Escrita
        </div>
        <div class="panel-body">
        <div class="mensagem-erro"></div>
          <table class="table criterios criterios-escrita">
            <thead>
              <tr>
                <td class="borda">Critério</td>
                <td class="borda">Descrição</td>
                <td class="borda">Valor</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <%= f.fields_for :criterios, @area.criterios.select{ |c| c.tipo_prova == 'escrita' } do |options_form| %>
                <%= render 'criterio_fields', f: options_form, tipo: "escrita" %>
              <% end %>
            </tbody>
          </table>

          <div class="links">
            <%= link_to_add_association button_tag(icon("plus", "Critério"), type: "button", class: "btn btn-primary add"), f, :criterios, render_options: { locals: { tipo: 'escrita' } }, data: { association_insertion_node: '.criterios-escrita', association_insertion_method: 'append' } %>
          </div>
        </div>
      </div>
    </div>

    <%= link_to icon("arrow-left", "Voltar"), areas_path, class: "btn btn-warning" %>
    <button type="submit" class="btn btn-success" id="salvar"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Avançar</button>
    <%= link_to @area, method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
    <% end %>
  <% end %>

</div>
<script type="text/javascript">
window.fase = 1;
</script>
