<div class="container">

  <div class="aviso-mi alert alert-danger" data-spy="affix" data-offset-top="150" data-offset-bottom="200">
    A Unidade deve enviar um Memorando Interno (MI) à Pró-Reitoria de Gestão de Pessoas, solicitando a abertura do edital.
  </div>

  <%= simple_form_for @area, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :proximo, as: :hidden, input_html: { value: "escrita" } %>

    <div class="bloco-inicial">
      <%= f.input :tipo, required: true, as: :select, collection: [["Concurso Público","concurso"],["Processo Seletivo Simplificado","processo"]] %>
      <%= f.input :nome, label: "Área", required: true, autofocus: true %>
      <%= f.input :subarea, label: "Subárea (OPCIONAL)" %>
      <%= f.input :curso, label: "Curso (OPCIONAL)" %>
      <%= f.input :campus, required: true, collection: ["Educação Física","Monte Carmelo","Patos de Minas","Pontal", "Santa Mônica", "Umuarama"] %>
      <%= f.input :qualificacao, required: true %>
      <%= f.input :disciplinas, label: "Disciplinas a serem ministradas (OPCIONAL)" %>
      <% if @area.tipo == 'concurso' %>
        <% regimes = [["20 horas","20"], ["40 horas","40"], ["Dedicação Exclusiva","DE"]] %>
      <% else %>
        <% regimes = [["20 horas","20"], ["40 horas","40"]] %>
      <% end %>
      <%= f.input :regime, required: true, as: :select, collection: regimes.map{|regime| [regime[0], regime[1]]} %>
      <div id="aviso-regime"></div>
      <%= f.input :vagas, as: :string, required: true, wrapper_html: { class: "vagas" } %>
      <%= f.input :prorrogar, label: "Prorrogar inscrições?", hint: "Por mais 7 (sete) dias" %>
      <%= f.input :qualif_prorrogar, label: "Alterar qualificação para" %>
    </div>

    <%= link_to icon("arrow-left", "Voltar"), areas_path, class: "btn btn-warning" %>
    <button type="submit" class="btn btn-success" id="salvar"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Avançar</button>
    <%= link_to @area, method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
    <% end %>
  <% end %>

</div>
<script type="text/javascript">
window.fase = 1;
</script>
