<% provide(:title, 'Cadastrar Área') %>

<div class="container">
  <h3><%= yield(:title) %></h3>

  <%= simple_form_for @area do |f| %>
    <%= f.input :tipo, required: true, autofocus: true, as: :select, collection: ["Concurso Público","Processo Seletivo Simplificado"] %>
    <% if current_user.tipo == 'p' %>
      <%= f.input :unidade_id, as: :select, collection: Unidade.all.map{ |unidade| [unidade.sigla, unidade.id] } %>
    <% else %>
      <%= f.input :unidade_id, required: true, as: :hidden, input_html: { value: current_user.unidade_id } %>
    <% end %>

    <button type="submit" class="btn btn-success">Criar</button>
  <% end %>
</div>
