<table class="table table-condensed index"  id="vagas-list">
  <thead>
    <tr>
      <th>Unidade</th>
      <th>Nome</th>
      <th>Código</th>
      <th>Tipo</th>
      <th>Data</th>
      <th>Data fim</th>
      <th>Situação</th>
      <th>Concurso</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% vagas.each.sort_by{ |vaga| vaga[:unidade_id] }.each do |vaga| %>
      <tr class="<%= classe_situacao_vaga[vaga.situacao] %>">
        <td class="unidade"><%= vaga.unidade.sigla %></td>
        <td class="nome"><%= vaga.nome %></td>
        <td class="codigo"><%= vaga.codigo %></td>
        <td class="tipo"><%= vaga.tipo %></td>
        <td class="data"><%=l vaga.data_inicio, format: :default %></td>
        <td class="data">
          <% if vaga.data_fim.present? %>
            <%=l vaga.data_fim, format: :default %>
          <% end %>
        </td>
        <td class="situacao"><%= glyphicon("#{icones_situacao_vaga[vaga.situacao]}") %> <%= Vaga::SITUACOES[vaga.situacao] %></td>
        <td class="concurso">
          <% if vaga.area %>
            <% if vaga.area.edital %>
              <%= link_to edit_edital_path(vaga.area.edital) do %>
                Ed. <%= vaga.area.edital.numero %> <%= icon("search") %>
              <% end %>
            <% else %>
              <%= link_to icon_reverse("Solicitado","search"), edit_area_path(vaga.area) %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_vaga_path(vaga), class: "btn btn-primary btn-sm" do %>
            <%= glyphicon("pencil") %> Editar
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
