<div class="row menu">
  <%= render 'layouts/menu_lateral' %>
  <div class="colunas-menu">
    <%= link_to new_vaga_path, class: "btn btn-success" do %>
      <%= glyphicon("plus") %> Nova vaga
    <% end %>
    <h4>Vagas abertas</h4>

    <% if @vagas_abertas.length > 0 %>
      <%= render 'index_table', vagas: @vagas_abertas %>
    <% end %>

    <br />
    <h4>Vagas ocupadas</h4>

    <% if @vagas_ocupadas.length > 0 %>
      <%= render 'index_table', vagas: @vagas_ocupadas %>
    <% end %>
  </div>
</div>
