<div class="container">
  <h4>Vagas</h4>

  <% if @vagas %>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Nome</th>
          <th>Código</th>
          <th>Unidade</th>
          <th>Situação</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @vagas.each do |vaga| %>
          <tr>
            <td><%= vaga.tipo %></td>
            <td><%= vaga.nome %></td>
            <td><%= vaga.codigo %></td>
            <td><%= vaga.unidade.sigla %></td>
            <td><%= vaga.situacao %></td>
            <td>
              <%= link_to edit_vaga_path(vaga), class: "btn btn-primary" do %>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to new_vaga_path, class: "btn btn-success" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nova vaga
  <% end %>
</div>