<% provide(:title, 'Cadastrar Vaga') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= simple_form_for @vaga do |f| %>
    <%= f.input :tipo, required: true, as: :grouped_select, collection: tipos_vaga, group_method: :last %>
    <%= f.input :nome, required: true %>

    <button type="submit" class="btn btn-success">Criar</button>
    <%= link_to vagas_path, class: "btn btn-danger" do %>
      <%= glyphicon("remove") %> Cancelar
    <% end %>
  <% end %>
</div>
