<div class="container">

  <%= simple_form_for @edital, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :tipo, required: true, as: :select, collection: [["Concurso Público","concurso"],["Processo Seletivo Simplificado","processo"]] %>
    <%= f.input :numero, required: true, label: "Número" %>
    <%= f.input :data %>
    <%= f.input :comeca_inscricao, label: "Início das inscrições", as: :date_picker %>
    <%= f.input :termina_inscricao, label: "Término das inscrições", as: :date_picker %>
    <%= f.input :publicacao, label: "Data da publicação", as: :date_picker %>

    <h3>Selecionar áreas:</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Unidade</th>
          <th>Área</th>
          <th>Subárea</th>
        </tr>
      </thead>
      <% @areas.each do |area| %>
        <tr>
          <td><%= check_box_tag 'areas[]', area.id, checked = @edital.areas.include?(area) %></td>
          <td><%= area.unidade.sigla %></td>
          <td><%= area.nome %></td>
          <td><%= area.subarea %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to icon("arrow-left", "Voltar"), editais_path, class: "btn btn-warning" %>
    <button type="submit" class="btn btn-success"><%= glyphicon("ok") %> Salvar</button>
    <%= link_to @edital, method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, class: "btn btn-danger" do %>
      <%= glyphicon("trash") %> Excluir
    <% end %>
  <% end %>

</div>
