<div class="container">

  <%= simple_form_for @edital, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :tipo, required: true, as: :select, collection: [["Concurso Público","concurso"],["Processo Seletivo Simplificado","processo"]] %>
    <%= f.input :numero, required: true %>
    <%= f.input :data %>
    <%= f.input :comeca_inscricao, as: :datetime_picker %>
    <%= f.input :termina_inscricao, as: :datetime_picker %>
    <%= f.input :publicacao, as: :datetime_picker %>

    Selecionar areas:
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Unidade</th>
          <th>Área</th>
          <th>Subárea</th>
        </tr>
      </thead>
      <% Area.where("(edital_id is null or edital_id = ?) and tipo = ?", @edital.id, @edital.tipo).each do |area| %>
        <tr>
          <td><%= check_box_tag 'areas[]', area.id, checked = @edital.areas.include?(area) %></td>
          <td><%= area.unidade.sigla %></td>
          <td><%= area.nome %></td>
          <td><%= area.subarea %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to icon("arrow-left", "Voltar"), editais_path, class: "btn btn-warning" %>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar</button>
    <%= link_to @edital, method: :delete, data: { confirm: "Tem certeza que deseja excluir?" }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir
    <% end %>
  <% end %>

</div>
