<div class="row menu">
  <% if @admin %>
    <%= render 'layouts/menu_lateral' %>
    <div class="colunas-menu">
  <% else %>
    <div class="index-publico">
  <% end %>
    <div class="row menu">
      <div class="col-md-6">
        <h4>Editais</h4>
        <% if @admin %>
          <%= link_to new_edital_path, class: "btn btn-success" do %>
            <%= glyphicon("plus") %> Novo Edital
          <% end %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= form_tag editais_path, method: :get, remote: true, class: "form-inline", id: "editais-form" do %>
          <div class="form-group">
            <%= label_tag("Buscar") %>
            <div id="search-field">
              <div class="input-group">
                <span class="input-group-addon">
                  <%= icon('search') %>
                </span>
                <%= text_field_tag "search", params[:search], class: "form-control", placeholder: "Ãrea" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br />

    <div class="row menu">
      <div id="lista-editais">
        <%= render 'index_table', editais: @editais, admin: @admin %>
      </div>
    </div>
  </div>
</div>
