<div class="row menu">
  <%= render 'layouts/menu_lateral' %>
  <div class="colunas-menu">
    <h4>Editais</h4>

    <%= link_to new_edital_path, class: "btn btn-success" do %>
      <%= glyphicon("plus") %> Novo Edital
    <% end %>

    <% if @editais != nil %>
      <table class="table table-condensed index editais">
        <thead>
          <tr>
            <th>Número</th>
            <th>Tipo</th>
            <th>Área(s)</th>
            <th>Situação</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
        <% @editais.each do |edital| %>
          <tr class="<%= classe_situacao_edital[edital.situacao] %>">
            <td class="numero"><%= edital.numero %></td>
            <td class="tipo"><%= tipo_certame[edital.tipo] %></td>
            <td class="areas">
              <%= edital.areas.map(&:nome).to_sentence if edital.areas %>
            </td>
            <td class="situacao"><%= icon("#{icones_situacao_edital[edital.situacao]}") %> <%= Edital::SITUACOES[edital.situacao] %></td>
            <td>
              <%= link_to edit_edital_path(edital), data: { toggle: 'tooltip', placement: 'top' }, class: "btn btn-primary btn-sm", title: 'Editar' do %>
                <%= glyphicon("pencil") %>
              <% end %>
              <%= link_to icon("file-word-o"), edital_word_path(edital), data: { toggle: 'tooltip', placement: 'top' }, class: "btn btn-success btn-sm", title: 'Gerar arquivo Word' %>
              <%= link_to icon("file-pdf-o"), edital_pdf_path(edital), data: { toggle: 'tooltip', placement: 'top' }, class: "btn btn-warning btn-sm", target: "_blank", title: 'Gerar PDF' %>
              <%= link_to publicar_edital_path(edital), data: { toggle: 'tooltip', placement: 'top' }, class: "btn btn-info btn-sm", title: 'Publicar' do %>
                <%= glyphicon("share") %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      Nada!
    <% end %>
  </div>
</div>
