<% provide(:title, 'Novo edital') %>

<div class="container">
  <h3><%= yield(:title) %></h3>

  <%= simple_form_for @edital do |f| %>
    <%= f.input :tipo, required: true, autofocus: true, as: :select, collection: [["Concurso Público","concurso"],["Processo Seletivo Simplificado","processo"]] %>
    <%= f.input :numero, required: true %>

    <button type="submit" class="btn btn-success">Criar</button>
    <%= link_to editais_path, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
    <% end %>
  <% end %>
</div>
