<div class="edital">
  <div class="edital-header">
    <table class="cabecalho">
      <tr>
        <td>
        </td>
        <td>
        <p class="linha-cabecalho">SERVIÇO PÚBLICO FEDERAL</p>
        <p class="linha-cabecalho">MINISTÉRIO DA EDUCAÇÃO</p>
        <p class="linha-cabecalho">UNIVERSIDADE FEDERAL DE UBERLÂNDIA</p>
        <p class="linha-cabecalho">PRÓ-REITORIA DE GESTÃO DE PESSOAS</p>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td colspan=3 class="numero-edital">EDITAL <%= @edital.numero %></td>
      </tr>
    </table>
  </div>
  <p class="to-the-right">CONCURSO PÚBLICO DE PROVAS E TÍTULOS PARA PREENCHIMENTO DE VAGA(S) DE PROFESSOR DA CARREIRA DE MAGISTÉRIO SUPERIOR INTEGRANTE DO PLANO DE CARREIRAS E CARGOS DE MAGISTÉRIO FEDERAL.</p>

  <div class="preambulo">A Pró – Reitora de Gestão de Pessoas da Universidade Federal de Uberlândia, no uso de suas atribuições e considerando a delegação de competência que lhe foi outorgada por meio da  Portaria/R/UFU/nº.  1.224,  de 29/12/2015,  do  Reitor  da  Universidade  Federal  de Uberlândia, publicada no Diário Oficial da União em 11/01/2016; e tendo em vista o que estabelecem a Lei nº. 8.112, de 11/12/1990, a Lei 12.772 de 28/12/2012, a Lei 12.863 publicada no D.O.U. em 25/09/2013, bem como o Decreto 6.944 de 21/08/2009 publicado no D.O.U em 24/08/2009, o Decreto nº. 7.485 de 18/05/2011; alterado pelo Decreto nº. 8.259 de 29/05/2014 e a Portaria Interministerial MPOG/MEC nº. 111, de 03/04/2014; e também o Estatuto e o Regimento Geral da UFU, a Resolução nº 03/2015 do Conselho Diretor e demais legislações pertinentes, torna público que será realizado Concurso Público de Provas e Títulos, para o cargo de Professor da Carreira de Magistério Superior do Plano de Carreiras e Cargos de Magistério Federal da Universidade Federal de Uberlândia, mediante as normas contidas neste Edital.</div>
  <br />
  <div>
    <p><strong>1 – DAS DISPOSIÇÕES PRELIMINARES</strong></p>
    <p><strong>1.1</strong> – O concurso visa ao preenchimento de vaga(s) destinada(s) a <strong><%= @edital.areas.first.unidade.nome %> (<%= @edital.areas.first.unidade.sigla %>), para o Campus <%= @edital.areas.first.campus %>, na cidade de <%= %>/MG</strong>, pelos candidatos nele habilitados e aprovados e considerados aptos em exame de saúde, obedecida a ordem de classificação.</p>
    <p><strong>1.2</strong> – Se porventura durante a validade deste concurso ocorrer a vacância de cargo de professor na <%= @edital.areas.first.unidade.sigla %>, na mesma área e qualificação mínima exigidas ou a distribuição pelo Conselho da Unidade de novo cargo de professor para a mesma área e qualificação mínima exigidas, o seu preenchimento, em qualquer das situações, ocorrerá de acordo com a ordem de classificação, podendo, inclusive, o candidato ser nomeado e lotado para trabalhar nos campi de Uberlândia, ou demais campi fora de sede, conforme dispuser a portaria de nomeação, observando o interesse da Universidade.</p>
  </div>
  <br />
  <div>
    <p><strong>2 - DO REGIME JURÍDICO/REGIME DE TRABALHO/ATRIBUIÇÕES DO CARGO</strong></p>
    <p><strong>2.1</strong> – O regime jurídico será o da Lei nº. 8.112, de 11 de dezembro de 1990.</p>
    <p class="nivel-1"><strong>2.1.1</strong> - O regime de trabalho é de Dedicação Exclusiva de trabalho, em tempo integral, com dedicação exclusiva às atividades de ensino, pesquisa, extensão e gestão institucional e impedimento do exercício de outra atividade remunerada, pública ou privada, observado o que dispõe o artigo 21 da Lei 12.772/2012.</p>
    <p class="nivel-1"><strong>2.1.2</strong> – É vedada a mudança de regime de trabalho aos docentes em estágio probatório.</p>
    <p><strong>2.2</strong> - São atribuições do cargo de professor as atividades de Ensino, de Pesquisa, de Extensão e gestão institucional, além daquelas previstas em legislação específica, constantes de planos de trabalho e de programas elaborados pelas Unidades Acadêmicas; ou de atos emanados de órgãos ou autoridades competentes e demais disposições do artigo 173 do Regimento Geral da Universidade Federal de Uberlândia, e outras obrigações decorrentes da legislação federal ou da legislação interna da Instituição.</p>
    <p class="nivel-1"><strong>2.2.1</strong> - No exercício de suas atribuições o professor incumbir-se-á de:</p>
    <div class="itens">
      I. Participar da elaboração da proposta pedagógica de sua Unidade Acadêmica ou Unidade Especial de Ensino;</br>
      II. Elaborar e cumprir plano de trabalho, segundo a proposta pedagógica de sua Unidade Acadêmica ou Unidade Especial de Ensino;</br>
      III. Zelar pela aprendizagem dos alunos;</br>
      IV. Estabelecer estratégias de recuperação para os alunos de menor rendimento;</br>
      V. Ministrar, com frequência obrigatória, as aulas que lhe forem designadas pela sua Unidade, nos dias letivos, além de participar integralmente dos períodos dedicados ao planejamento, da Unidade Acadêmica ou Unidade Especial de Ensino;</br>
      VI. Colaborar com as atividades de articulação da UFU com a comunidade; e,</br>
      VII. Realizar atividades de Ensino, Pesquisa, Extensão e as inerentes ao exercício de direção, assessoramento, chefia, coordenação e assistência na própria instituição, além daquelas previstas em legislação específica constantes de planos de trabalho e de programas elaborados pela Unidade Acadêmica ou Unidade Especial de Ensino.
    </div>
  </div>
  <table class="areas-edital">
    <thead>
      <tr>
        <th>Área</th>
        <th>Subárea</th>
        <th>Nº de vagas</th>
        <th>Qualificação Mínima Exigida</th>
        <th>Regime de trabalho</th>
      </tr>
    </thead>

    <tbody>
      <% @edital.areas.each do |area| %>
        <tr>
          <td class="area"><%= area.nome %></td>
          <td class="subarea"><%= area.subarea %></td>
          <td class="vagas"><%= area.vagas %></td>
          <td class="qualificacao"><%= area.qualificacao %></td>
          <td class="regime"><%= area.regime %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>Uberlândia, <%= @edital.data %></p>
  <p>Marlene Marins de Camargos Borges</p>
</div>
