<div class="edital">
  <div class="edital-header">
    <table class="cabecalho">
      <tr>
        <td>
        </td>
        <td>
        <p class="linha-cabecalho">SERVIÇO PÚBLICO FEDERAL</p>
        <p class="linha-cabecalho">MINISTÉRIO DA EDUCAÇÃO</p>
        <p class="linha-cabecalho">UNIVERSIDADE FEDERAL DE UBERLÂNDIA</p>
        <p class="linha-cabecalho">PRÓ-REITORIA DE GESTÃO DE PESSOAS</p>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td colspan=3 class="numero-edital">EDITAL <%= @edital.numero %></td>
      </tr>
    </table>
  </div>
  <p class="to-the-right">CONCURSO PÚBLICO DE PROVAS E TÍTULOS PARA PREENCHIMENTO DE VAGA(S) DE PROFESSOR DA CARREIRA DE MAGISTÉRIO SUPERIOR INTEGRANTE DO PLANO DE CARREIRAS E CARGOS DE MAGISTÉRIO FEDERAL.</p>

  <div class="preambulo">A Pró - Reitora de Gestão de Pessoas da Universidade Federal de Uberlândia, no uso de suas atribuições e considerando a delegação de competência que lhe foi outorgada por meio da  Portaria/R/UFU/nº.  1.224,  de 29/12/2015,  do  Reitor  da  Universidade  Federal  de Uberlândia, publicada no Diário Oficial da União em 11/01/2016; e tendo em vista o que estabelecem a Lei nº. 8.112, de 11/12/1990, a Lei 12.772 de 28/12/2012, a Lei 12.863 publicada no D.O.U. em 25/09/2013, bem como o Decreto 6.944 de 21/08/2009 publicado no D.O.U em 24/08/2009, o Decreto nº. 7.485 de 18/05/2011; alterado pelo Decreto nº. 8.259 de 29/05/2014 e a Portaria Interministerial MPOG/MEC nº. 111, de 03/04/2014; e também o Estatuto e o Regimento Geral da UFU, a Resolução nº 03/2015 do Conselho Diretor e demais legislações pertinentes, torna público que será realizado Concurso Público de Provas e Títulos, para o cargo de Professor da Carreira de Magistério Superior do Plano de Carreiras e Cargos de Magistério Federal da Universidade Federal de Uberlândia, mediante as normas contidas neste Edital.</div>
  <br />
  <div class="item">
    <p><strong>1 - DAS DISPOSIÇÕES PRELIMINARES</strong></p>
    <p><strong>1.1</strong> - O concurso visa ao preenchimento de vaga(s) destinada(s) a <strong><%= @edital.areas.first.unidade.nome %> (<%= @edital.areas.first.unidade.sigla %>), para o Campus <%= @edital.areas.first.campus %>, na cidade de <%= cidade(@edital.areas.first.campus) %>/MG</strong>, pelos candidatos nele habilitados e aprovados e considerados aptos em exame de saúde, obedecida a ordem de classificação.</p>
    <p><strong>1.2</strong> - Se porventura durante a validade deste concurso ocorrer a vacância de cargo de professor na <%= @edital.areas.first.unidade.sigla %>, na mesma área e qualificação mínima exigidas ou a distribuição pelo Conselho da Unidade de novo cargo de professor para a mesma área e qualificação mínima exigidas, o seu preenchimento, em qualquer das situações, ocorrerá de acordo com a ordem de classificação, podendo, inclusive, o candidato ser nomeado e lotado para trabalhar nos campi de Uberlândia, ou demais campi fora de sede, conforme dispuser a portaria de nomeação, observando o interesse da Universidade.</p>
    <p><strong>1.3</strong> - Todos os horários mencionados referem-se ao horário oficial de Brasília-DF.</p>
  </div>

  <div class="item">
    <p><strong>2 - DO REGIME JURÍDICO/REGIME DE TRABALHO/ATRIBUIÇÕES DO CARGO</strong></p>
    <p><strong>2.1</strong> - O regime jurídico será o da Lei nº. 8.112, de 11 de dezembro de 1990.</p>
    <p class="nivel-1"><strong>2.1.1</strong> - O regime de trabalho é de Dedicação Exclusiva de trabalho, em tempo integral, com dedicação exclusiva às atividades de ensino, pesquisa, extensão e gestão institucional e impedimento do exercício de outra atividade remunerada, pública ou privada, observado o que dispõe o artigo 21 da Lei 12.772/2012.</p>
    <p class="nivel-1"><strong>2.1.2</strong> - É vedada a mudança de regime de trabalho aos docentes em estágio probatório.</p>
    <p><strong>2.2</strong> - São atribuições do cargo de professor as atividades de Ensino, de Pesquisa, de Extensão e gestão institucional, além daquelas previstas em legislação específica, constantes de planos de trabalho e de programas elaborados pelas Unidades Acadêmicas; ou de atos emanados de órgãos ou autoridades competentes e demais disposições do artigo 173 do Regimento Geral da Universidade Federal de Uberlândia, e outras obrigações decorrentes da legislação federal ou da legislação interna da Instituição.</p>
    <p class="nivel-1"><strong>2.2.1</strong> - No exercício de suas atribuições o professor incumbir-se-á de:</p>
    <div class="itens-2">
      I. Participar da elaboração da proposta pedagógica de sua Unidade Acadêmica ou Unidade Especial de Ensino;<br />
      II. Elaborar e cumprir plano de trabalho, segundo a proposta pedagógica de sua Unidade Acadêmica ou Unidade Especial de Ensino;<br />
      III. Zelar pela aprendizagem dos alunos;<br />
      IV. Estabelecer estratégias de recuperação para os alunos de menor rendimento;<br />
      V. Ministrar, com frequência obrigatória, as aulas que lhe forem designadas pela sua Unidade, nos dias letivos, além de participar integralmente dos períodos dedicados ao planejamento, da Unidade Acadêmica ou Unidade Especial de Ensino;<br />
      VI. Colaborar com as atividades de articulação da UFU com a comunidade; e,<br />
      VII. Realizar atividades de Ensino, Pesquisa, Extensão e as inerentes ao exercício de direção, assessoramento, chefia, coordenação e assistência na própria instituição, além daquelas previstas em legislação específica constantes de planos de trabalho e de programas elaborados pela Unidade Acadêmica ou Unidade Especial de Ensino.
    </div>
  </div>

  <div class="item">
    <p><strong>3 - DA ESPECIFICAÇÃO DO CONCURSO PÚBLICO</strong></p>
    <table class="areas-edital">
      <thead>
        <tr>
          <th colspan=2 >Área</th>
          <!--th>Subárea</th-->
          <th>Nº de vagas</th>
          <th>Qualificação Mínima Exigida</th>
          <th>Regime de trabalho</th>
        </tr>
      </thead>

      <tbody>
        <% @edital.areas.sort_by{ |area| area.nome}.each_with_index do |area, index| %>
          <tr>
            <% mesclar = 0 %>
            <% if @edital.areas.length > 1 %>
              <% if @edital.areas[index+1] && @edital.areas[index].nome == @edital.areas[index+1].nome %>
                <% mesclar = 1 %>
              <% elsif @edital.areas[index-1] && @edital.areas[index].nome == @edital.areas[index-1].nome %>
                <% mesclar = 2 %>
              <% end %>
            <% end %>

            <% if mesclar == 0 %>
              <td class="area" colspan=2>
                <%= @edital.areas.length > 1 ? "Área #{index+1}:" : "" %> <%= area.nome %>
                <% if area.subarea.present? %>
                  <br /><strong>Subárea:</strong> <%= area.subarea %>
                <% end %>
                <% if area.curso.present? %>
                  <br /><strong>Curso:</strong> <%= area.curso %>
                <% end %>
              </td>
            <% else %>
              <% if mesclar == 1 %>
                <td class="area-mesclada" rowspan="<%= mesclar == 1 ? "2" : "" %>">
                  <%= @edital.areas.length > 1 ? "Área #{index+1}:" : "" %> <%= area.nome %>
                </td>
              <% end %>
              <td class="subarea"><strong>Subárea:</strong> <%= area.subarea %></td>
            <% end %>

            <td class="vagas"><%= sprintf '%02d', area.vagas %></td>
            <td class="qualificacao"><%= area.qualificacao %></td>
            <td class="regime"><%= regime_de_trabalho_longo(area.regime) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="areas-edital">
      <thead>
        <tr>
          <% vagas_negros = @edital.areas.map(&:vagas_negros).sum %>
          <% vagas_pcd = @edital.areas.map(&:vagas_pcd).sum %>
          <% vagas_reservadas = vagas_negros + vagas_pcd %>
          <th class="<%= vagas_reservadas > 0 ? "area-pequena" : "" %>">Área</th>
          <%# Se tiver alguma vaga reservada, o layout é diferente %>
          <% if vagas_reservadas > 0 %>
            <th>Vagas ampla concorrência</th>
            <% if vagas_negros > 0 %>
              <th>Vagas reservadas aos negros</th>
            <% end %>
            <% if vagas_pcd > 0 %>
              <th>Vagas reservadas às pessoas com deficiência</th>
            <% end %>
          <% else %>
            <th>Nº de vagas</th>
          <% end %>
          <th>Qualificação Mínima Exigida</th>
          <th>Regime de trabalho</th>
        </tr>
      </thead>

      <tbody>
        <% @edital.areas.sort_by{ |area| area.nome}.each_with_index do |area, index| %>
          <tr>
            <td class="<%= vagas_reservadas > 0 ? "area-pequena" : "area" %>">
              <%= @edital.areas.length > 1 ? "Área #{index+1}:" : "" %> <%= area.nome %>
              <% if area.subarea.present? %>
                <br /><strong>Subárea:</strong> <%= area.subarea %>
              <% end %>
              <% if area.curso.present? %>
                <br /><strong>Curso:</strong> <%= area.curso %>
              <% end %>
            </td>
            <% if vagas_reservadas > 0 %>
              <td class="vagas-reserva"><%= sprintf '%02d', (area.vagas - area.vagas_negros - area.vagas_pcd) %></td>
              <% if vagas_negros > 0 %>
                <td class="vagas-reserva"><%= area.vagas_negros > 0 ? sprintf('%02d', area.vagas_negros) : '-' %></td>
              <% end %>
              <% if vagas_pcd > 0 %>
                <td class="vagas-reserva"><%= area.vagas_pcd > 0 ? sprintf('%02d', area.vagas_pcd) : '-' %></td>
              <% end %>
            <% else %>
              <td class="vagas">
                <%= sprintf '%02d', area.vagas %>
              </td>
            <% end %>
            <td class="qualificacao"><%= highlight(area.qualificacao, /Graduação|Mestrado|Doutorado/, highlighter: '<strong>\1</strong>') %></td>
            <td class="regime"><%= regime_de_trabalho_longo(area.regime) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="item">
    <p><strong>4 - REMUNERAÇÕES DO CARGO</strong></p>
    <p><strong>4.1</strong> - Ao candidato aprovado e investido no cargo de Professor, conforme denominação a seguir, fica assegurada a remuneração estruturada conforme o Plano de Carreiras e Cargos de Magistério Federal com a seguinte composição: Vencimento Básico(VB) mais Retribuição por Titulação(RT) conforme mostra a tabela abaixo, nos termos do Anexo III da Lei 12.772/2012, e ainda o Auxílio Alimentação no valor de R$ 458,00.</p>
  </div>
  <table class="salario">
    <thead>
      <tr>
        <th>Classe</th>
        <th>Titulação</th>
        <th>VB</th>
        <th>RT</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% regime = @edital.areas.first.regime %>
      <% (@edital.titulacao..4).to_a.each do |titulacao| %>
        <tr>
          <td><%= classes_superior[titulacao] %></td>
          <td><%= titulos[titulacao] %></td>
          <td><%= number_to_currency(vencimento_basico(regime)) %></td>
          <td><%= retribuicao_titulacao(regime, titulacao) == 0 ? '-' : number_to_currency(retribuicao_titulacao(regime, titulacao)) %></td>
          <td><%= number_to_currency(vencimento_basico(regime) + retribuicao_titulacao(regime, titulacao)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="item">
    <p><strong>5 - DAS INSCRIÇÕES DOS CANDIDATOS</strong></p>
    <p><strong>5.1</strong> - A inscrição do candidato implicará o conhecimento e a tácita aceitação das normas e condições estabelecidas neste Edital, em relação às quais não poderá alegar desconhecimento, e o comprovante de inscrição deverá ser mantido com o candidato, pois poderá lhe ser solicitado pela DIRETORIA DE PROCESSOS SELETIVOS - DIRPS.</p>
    <p><strong>5.2</strong> - As inscrições devem ser realizadas, <strong>exclusivamente <em>on line</em></strong>, pelo endereço eletrônico <a href="http://www.portal.prograd.ufu.br/">http://www.portal.prograd.ufu.br/</a>, iniciando-se às <strong>00h do dia <%=l @edital.comeca_inscricao, format: :long %> e encerrando-se às 23h59min do dia <%=I18n.l @edital.termina_inscricao, format: :long %></strong>. Informações sobre as inscrições deverão ser obtidas na DIRPS pelo e-mail atende.dirps@prograd.ufu.br ou telefone (34) 3239-4127/4128. Horário de Atendimento na DIRPS: 8h às 17h.</p>
    <p class="nivel-1"><strong>5.2.1</strong> - A UFU não se responsabilizará por inscrição não recebida por motivos de natureza técnica associados a computadores, a falhas de comunicação, a congestionamento de linhas de comunicação e a quaisquer outros motivos de ordem técnica que impossibilitem a transferência de dados para consolidação da inscrição.</p>
    <p class="nivel-1"><strong>5.2.2</strong> - O valor da taxa de inscrição não será restituído, exceto nos casos de invalidação ou revogação do concurso público por conveniência ou interesse da Universidade.</p>
    <p class="nivel-1"><strong>5.2.3</strong> - Encerradas as inscrições e não havendo candidatos inscritos <mark>com a qualificação mínima</mark> em número igual ou superior ao número de vagas, <strong>serão prorrogadas de imediato, por mais 07 (sete) dias corridos</strong>, de <%=I18n.l (@edital.termina_inscricao+1), format: :short %> a <%=I18n.l (@edital.termina_inscricao+7), format: :long %>, via on line, as inscrições, <strong>mantendo a mesma qualificação mínima exigida no item 3 deste edital.</strong></p>
    <p class="nivel-1"><strong>5.2.4</strong> - <mark>Caso tenha mais de uma área...</mark></p>
    <p><strong>5.3</strong> - O candidato deverá preencher no ato da inscrição os formulários disponíveis no link de inscrição do Concurso acessado pelo site <a href="http://www.portal.prograd.ufu.br/">http://www.portal.prograd.ufu.br/</a>, de modo que nele constem informações exatas e verídicas, sob pena de cancelamento da inscrição.</p>
    <p class="nivel-1"><strong>5.3.1</strong> - <mark>O candidato deverá indicar a qualificação que possui no momento da inscrição e eventual previsão de conclusão de nova titulação.</mark></p>

    <p><strong>5.4</strong> - O valor da inscrição será de R$ 60,00 (sessenta reais) para todos os candidatos e o pagamento deverá ser efetuado na rede bancária, por meio de GRU (Guia de Recolhimento da União) gerada exclusivamente no sistema de inscrição. O pagamento da GRU deverá ser efetuado até as 21h59min do dia posterior ao término do período de inscrição. A confirmação do pagamento da taxa de inscrição será disponibilizada no sistema de inscrição em até 05 (cinco) dias úteis contados a partir da data de pagamento da GRU.</p>
    <p class="nivel-1"><strong>5.4.1</strong> - O candidato deverá acessar o endereço eletrônico <a href="http://www.portal.prograd.ufu.br/">http://www.portal.prograd.ufu.br/</a>, conferir os dados da inscrição e se o pagamento da taxa de inscrição está confirmado.</p>
    <p class="nivel-1"><strong>5.4.2</strong> - Não será aceita em hipótese alguma inscrição condicionada;</p>

    <p><strong>5.5</strong> - A Unidade Acadêmica divulgará, em até 05 (cinco) dias antes do início das inscrições, as normas complementares no site de comunicação oficial da UFU, da seguinte forma:</p>
    <p class="nivel-1">a) O programa e as referências bibliográficas completas;</p>
    <p class="nivel-1">b) Os critérios de desempate;</p>
    <p class="nivel-1">c) <mark>Para a prova didática:</mark></p>
    <div class="itens-2">
      I - necessidade ou não de apresentação pelo candidato de plano de aula para cada membro da Comissão Julgadora;<br />
      II - indicação no plano de aula dos referenciais bibliográficos ou dos materiais que serão indicados aos estudantes de graduação ou do ensino fundamental ou médio;<br />
      III - indicação de quais recursos poderão ser utilizados e quais aqueles de uso vedado para os candidatos, inclusive aqueles que serão fornecidos pela Unidade Acadêmica ou Unidade Especial de Ensino e aqueles que correrão à conta do candidato;
    </div>

    <p><strong>5.6 - A DIRPS divulgará, em até 05 (cinco) dias úteis após o encerramento das inscrições, no site oficial da UFU <mark>(www.editais.ufu.br)</mark>, o resultado do deferimento da inscrição.</strong></p>
    <p class="nivel-1"><strong>5.6.1</strong> - Da publicação do indeferimento da inscrição caberá recurso, no prazo de 02 (dois) dias úteis, à DIRPS.</p>
    <p class="nivel-1"><strong>5.6.2</strong> - A Unidade Acadêmica ou Unidade Especial de Ensino divulgará, em até 05 (cinco) dias úteis após o encerramento das inscrições, as datas, locais com endereço completo e horários em que deverão ocorrer a prova didática e a entrega dos títulos, observando o período mínimo de 30 (trinta) dias entre a publicação do edital no DOU e o início da primeira prova.</p>

    <p><strong>5.7</strong> - Candidato de baixa renda poderá solicitar isenção do pagamento de taxa de inscrição, nos termos do Decreto nº. 6.693, de 2 de outubro de 2008 e Decreto nº. 6.135, de 26 de junho de 2007, se estiver inscrito no Cadastro Único para Programas Sociais do Governo Federal (CadÚnico).</p>
    <p class="nivel-1"><strong>5.7.1</strong> - A isenção deverá ser solicitada no ato da inscrição, indicando em seus dados cadastrais o Número de Identificação Social-NIS associado ao candidato, atribuído pelo CadÚnico.</p>
    <p class="nivel-1"><strong>5.7.2</strong> - O candidato de baixa renda que ainda não possuir o Número de Identificação Social-NIS deverá providenciá-lo no Setor de Serviço Social da Prefeitura Municipal de sua cidade.</p>
    <p class="nivel-1"><strong>5.7.3</strong> - O candidato só terá seu pedido de isenção confirmado se o NIS estiver validado pelo Órgão Gestor do CadÚnico até o último dia de inscrição.</p>
    <p class="nivel-1"><strong>5.7.4</strong> - Não caberá recurso contra o indeferimento do requerimento de isenção da taxa de inscrição.</p>
    <p class="nivel-1"><strong>5.7.5</strong> - Caberá ao candidato realizar consulta no próprio sistema de inscrição no endereço eletrônico www.portal.prograd.ufu.br para verificar sua situação com relação à isenção da taxa.</p>
    <p class="nivel-1"><strong>5.7.6</strong> - O candidato que tiver seu pedido indeferido deverá efetuar o pagamento da taxa devida no prazo estipulado no item 5.3.1 deste edital.</p>
    <p class="nivel-1"><strong>5.7.7</strong> - O candidato que tiver o seu pedido de isenção indeferido e que não efetuar o pagamento da taxa de inscrição, na forma e no prazo estabelecido no subitem 5.3.1, terá sua inscrição indeferida neste concurso.</p>

    <p><strong>5.8</strong> - O <strong>candidato com necessidades especiais</strong> deverá informar o tipo de necessidade no ato da inscrição.</p>
    <p class="nivel-1"><strong>5.8.1</strong> - O candidato deverá preencher e encaminhar à UFU durante o período de inscrição, Relatório Médico atualizado, datado, assinado e carimbado pelo médico e o requerimento de solicitação de atendimento especial para realização das provas, disponibilizado no link www.ingresso.ufu.br.</p>
    <p class="nivel-1"><strong>5.8.2</strong> - Nesse requerimento, deverão ser especificadas e indicadas as condições necessárias para a realização das provas. Na ausência do relatório ou do requerimento, o candidato não terá assegurado o atendimento requerido. O relatório e o requerimento poderão ser entregues pelo candidato ou seu procurador na Diretoria de Processos Seletivos (DIRPS), bloco 1A, sala 111, Campus Santa Mônica, ou enviados por fax para o número (34) 3239-4400, ou por  SEDEX.</p>
    <p class="nivel-1"><strong>5.8.3</strong> - O candidato que necessitar de atendimento especial poderá solicitar:</p>
    <div class="itens-2">
      a) Provas ampliadas com fonte Arial 18;<br />
      b) Auxílio ledor;<br />
      c) Intérprete de Libras (Língua Brasileira de Sinais) para sanar eventuais dúvidas ou fornecer informações sobre o Concurso Público durante a aplicação da prova, sempre que solicitado pelo candidato surdo ou com deficiência auditiva.<br />
      d) Tempo adicional para realização das provas, com justificativa acompanhada de parecer emitido por especialista da área de sua deficiência, conforme art. 39. do Decreto 3298/99.
    </div>
    <p class="nivel-1"><strong>5.8.4</strong> - As solicitações de que tratam os itens 5.8 e 5.9, ou qualquer outro tipo de solicitação de atendimento especial, deverão ser indicadas no formulário de inscrição, nos campos apropriados.</p>
    <p class="nivel-1"><strong>5.8.5</strong> - A UFU divulgará o resultado da solicitação dos candidatos com Necessidades Especiais, <strong>no deferimento das inscrições.</strong></p>
    <p class="nivel-1"><strong>5.8.6</strong> - A UFU não se responsabilizará por qualquer tipo de deslocamento do candidato com necessidades especiais.</p>

    <p><strong>5.9</strong> - A candidata que tiver necessidade de amamentar durante a realização das provas, além de solicitar atendimento especial para tal fim, <strong>deverá encaminhar à DIRPS cópia da certidão de nascimento da criança, durante o período de inscrição, e deverá levar, no dia da prova, um acompanhante</strong>, que ficará em sala reservada para essa finalidade e que será responsável pela guarda da criança.</p>
    <p class="nivel-1"><strong>5.9.1</strong> - A candidata que não levar acompanhante não poderá se ausentar para amamentar. A UFU não disponibilizará acompanhante para guarda de criança.</p>
    <p class="nivel-1"><strong>5.9.2</strong> - A candidata que tiver necessidade de amamentar poderá solicitar ampliação do tempo de realização das provas em até 01 (uma) hora, conforme o tempo da amamentação.</p>
  </div>

  <div class="item">
    <p><strong>6 - DAS PROVAS E TÍTULOS</strong></p>
    <p><strong>6.1</strong> - O <mark>Concurso Público de Provas e Títulos</mark> consistirá das seguintes avaliações:</p>
    <p class="nivel-1"><strong>6.1.1 - Prova escrita</strong>, valendo 100 pontos, de caráter eliminatório e classificatório;</p>
    <p class="nivel-1"><strong>6.1.2 - Prova didática pedagógica</strong>, valendo 100 pontos, de caráter eliminatório e classificatório;</p>
    <p class="nivel-1"><strong>6.1.3 - Análise de títulos</strong>, valendo 100 pontos, de caráter classificatório;</p>
    <p><strong>6.2</strong> - Precedendo a prova escrita, será instaurada uma “sessão de abertura”, na qual serão feitos procedimentos de identificação dos candidatos, avisos e será realizado o sorteio da(s) questão(ões) ou tema(s) da prova escrita.</p>
    <p><strong>6.3</strong> - O candidato deverá comparecer nas datas e horários marcados para realização de cada fase do concurso, <strong>inclusive à sessão de abertura e ao(s) sorteio(s) de tema(s) ou questão(ões)</strong>, sendo desclassificados aqueles que não comparecerem ou se atrasarem.</p>
    <p><strong>6.4</strong> - A sessão de abertura será realizada no dia <strong><mark><%= @edital.areas.first.data_prova %> às 7h30</mark></strong>, no Bloco 5R, no Campus Santa Mônica, na Av. João Naves de Ávila, nº 2121, no Bairro Santa Mônica, na cidade de Uberlândia/MG - CEP: 38408-100, sendo que qualquer alteração será divulgada no site oficial da UFU <mark>(www.editais.ufu.br)</mark>.</p>
    <p class="nivel-1"><strong>6.4.1</strong> - A (s) questão (ões) e/ou o (s) tema (s) da prova escrita será (ão) selecionado (s) por sorteio a partir de uma lista elaborada pela Comissão Julgadora, abrangendo assuntos do programa adequado a esse tipo de prova.</p>
    <p class="nivel-1"><strong>6.4.2</strong> - O sorteio da(s) questão(ões) ou tema(s) será realizado pela DIRPS de acordo com as seguintes fases:</p>
    <div class="itens-2">
      I - apresentação de todos os temas do programa, em papel ou meio eletrônico idôneo, com projeção visual na sala de realização do certame, para a conferência dos candidatos;<br />
      II - sorteio manual ou por processo eletrônico de tema do programa;<br />
      III - apresentação, com leitura e projeção visual, a partir do tema sorteado, da questão ou objeto da dissertação da prova;<br />
      IV - conferência do tema sorteado, inclusive daqueles que foram descartados; e<br />
      V - encerramento da sessão de abertura.
    </div>
    <p class="nivel-1"><strong>6.4.3</strong> - A prova escrita <strong>será aplicada exclusivamente pela DIRPS</strong> e terá início uma hora após o encerramento da sessão de abertura, sendo facultado ao candidato ausentar-se do local de prova e/ou realizar qualquer tipo de consulta neste intervalo. O candidato deverá estar presente no local de prova no horário estipulado pela DIRPS para início da prova escrita, sob pena de ser eliminado do certame.</p>
    <p class="nivel-1"><strong>6.4.4</strong> - O candidato deverá portar documento de identidade e caneta esferográfica (somente tinta azul, com corpo transparente) realizar a prova escrita.</p>
    <p class="nivel-2"><strong>6.4.4.1</strong> - Serão considerados Documentos de Identidade: as carteiras ou cédulas de identidade (expedidas por Secretarias de Segurança Pública, Forças Armadas, Polícias Civis ou Militares); carteiras expedidas por ordens ou conselhos criados por lei federal ou controladores do exercício profissional, desde que contenham o número de identidade que lhes deu origem. A Carteira de Estrangeiro ou Passaporte Visado são documentos válidos para candidato estrangeiro.</p>
    <p class="nivel-2"><strong>6.4.4.2</strong> - Para efeitos de identificação, o candidato poderá ser fotografado e ter colhidas suas impressões digitais.</p>
    <p class="nivel-1"><strong>6.4.5</strong> - O candidato deverá permanecer no local de aplicação da prova escrita por no mínimo uma hora após seu início e disporá do tempo máximo de quatro horas para a realização da prova escrita.</p>
    <p class="nivel-1"><strong>6.4.6</strong> - Durante a realização da prova escrita serão vedados:</p>
    <div class="itens-2">
      I - a comunicação entre os candidatos;<br />
      II - a utilização de aparelhos eletrônicos, salvo aqueles expressamente previstos pelas regras do certame;<br />
      III - a utilização de aparelhos de sinal <mark>telefônico ou radiofônico</mark>, de transmissão, luminosos ou qualquer outro meio comunicacional ou de dados;<br />
      IV - a utilização de materiais de consulta, salvo aqueles expressamente previstos no edital;<br />
      V - a utilização de qualquer meio fraudulento, valer-se de embuste, falsidade ou apoio não permitido; e<br />
      VI - qualquer forma, sinal ou elemento gráfico que permita identificação do candidato na prova escrita.
    </div>
    <p class="nivel-2"><strong>6.4.6.1</strong> - Somente será permitido o uso de aparelho auditivo àquele candidato que tiver declarado necessidade auditiva no ato da inscrição e enviado comprovação médica, de acordo com o estabelecido no <strong>item 5.8</strong>. O aparelho poderá ser usado somente nos momentos em que seja necessária a comunicação verbal entre o fiscal e o candidato.</p>
    <p class="nivel-1"><strong>6.4.7 - O candidato que for flagrado na prática de alguma das condutas vedadas pelo item 6.4.6 será automaticamente retirado do local de aplicação da prova e eliminado do concurso.</strong></p>
    <p class="nivel-1"><strong>6.4.8 - A prova escrita</strong> será avaliada dentro dos seguintes critérios:</p>
    <table class="criterios">
      <thead>
        <tr>
          <th>Número</th>
          <th>Critério</th>
          <th>Descrição</th>
          <th>Pontuação</th>
        </tr>
      </thead>
      <tbody>
        <% numero = 1 %>
        <% @edital.areas.first.criterios.select{ |c| c.tipo_prova == 'escrita' }.each do |criterio| %>
          <tr>
            <td class="numero"><%= numero %></td>
            <td class="criterio"><%= criterio.nome %></td>
            <td class="descricao"><%= criterio.descricao %></td>
            <td class="valor"><%= criterio.valor %></td>
          </tr>

          <% numero += 1 %>
        <% end %>
        <tr>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>100</th>
        </tr>
      </tbody>
    </table>
    <p><strong>6.5</strong> - A prova didática será realizada como fase posterior à prova escrita e consistirá na apresentação oral, observada a ordem de realização fixada por sorteio, de um <strong>tema sorteado com, no mínimo, vinte e quatro horas e no máximo trinta e seis horas de antecedência, abrangendo assuntos do programa.</strong></p>
    <p class="nivel-1"><strong>6.5.1</strong> - A prova didática, cuja assistência é vedada aos demais candidatos, será realizada em <strong>sessão pública e terá duração mínima de quarenta e máxima de cinquenta minutos</strong>, podendo haver um acréscimo de até 30 (trinta) minutos para arguição do candidato pela Comissão Julgadora. As provas serão <strong>gravadas em áudio e vídeo</strong> que assegure boa qualidade e seu conteúdo não poderá ser consultado por terceiros, salvo autorização expressa do candidato detentor do direito de imagem, de acordo com o que dispõe a Lei nº 12.527/2013.</p>
    <p class="nivel-1"><strong>6.5.2</strong> - <mark>Os critérios de avaliação da prova didática deverão pautar-se pelos seguintes itens:</mark></p>
    <div class="itens-2">
      I - respeito aos padrões de língua culta;<br />
      II - respeito ao tempo estipulado;<br />
      III - capacidade de desenvolvimento objetivo do tema sorteado para a prova;<br />
      IV - capacidade de de articulação das ideias, conceitos, conteúdos, informações atualizadas sobre o tema sorteado para a prova;<br />
      V - adequada fundamentação teórica na abordagem do tema sorteado para a prova;<br />
      VI - demonstrar habilidade para o ambiente acadêmico; e<br />
      VII - apresentação de plano de aula com fundamentação teórica, coesão e informações essenciais ao desenvolvimento da aula.
    </div>
    <p class="nivel-1"><strong>6.5.3</strong> - Critérios de avaliação da prova didática:</p>
    <table class="criterios">
      <thead>
        <tr>
          <th>Número</th>
          <th>Critério</th>
          <th>Descrição</th>
          <th>Pontuação</th>
        </tr>
      </thead>
      <tbody>
        <% numero = 1 %>
        <% @edital.areas.first.criterios.select{ |c| c.tipo_prova == 'didatica' }.each do |criterio| %>
          <tr>
            <td><%= numero %></td>
            <td><%= criterio.nome %></td>
            <td><%= criterio.descricao %></td>
            <td><%= criterio.valor %></td>
          </tr>

          <% numero += 1 %>
        <% end %>
        <tr>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>100</th>
        </tr>
      </tbody>
    </table>
    <p><strong>6.6 - A análise de títulos</strong> será realizada como fase posterior à prova escrita e somente apresentarão os títulos os candidatos aprovados nesta prova, após o esgotamento dos prazos recursais da prova escrita, <strong>de acordo com as datas e instruções, definidas em normas complementares.</strong></p>
    <p class="nivel-1"><strong>6.6.1 - A entrega dos títulos</strong> compreenderá uma via do Curriculum lattes, abrangendo títulos acadêmicos, atividades didáticas, atividades científicas, profissionais e/ou artísticas, acompanhado dos documentos comprobatórios, tais como certificados, diplomas, entre outros.</p>
    <p class="nivel-1"><strong>6.6.2</strong> - Na análise dos títulos acadêmicos será <strong>considerado apenas o título de maior grau e não se pontuará a titulação mínima exigida para o cargo</strong>, considerado requisito à investidura e não elemento para pontuação e que sejam na(s) área(s) do conhecimento definida(s) no item 3 deste edital: </p>
    <p class="nivel-1"><strong>6.6.3</strong> - <mark>Na análise de títulos dos certames com o requisito de titulação de Doutorado será atribuída a seguinte pontuação:</mark></p>
    <div class="itens-2">
      I - Valoração das atividades didáticas e/ou profissionais nos últimos cinco anos no valor <strong>máximo de 20 (vinte) pontos</strong>;<br />
      II - Valoração da produção científica e/ou artística nos últimos cinco anos no valor <strong>máximo de 80 (oitenta) pontos;</strong>
    </div>
    <% if @edital.areas.first.prorrogar && !@edital.areas.first.mantem_qualificacao %>
      <p class="nivel-2"><strong>6.6.3.1</strong> - <mark>Na análise de títulos dos certames com o requisito de titulação inferior a Doutorado será atribuída a seguinte pontuação:</mark></p>
      <div class="itens-2">
        I - Valoração das atividades didáticas e/ou profissionais nos últimos cinco anos no valor <strong>máximo de 20 (vinte) pontos</strong>;<br />
        II - Valoração da produção científica e/ou artística nos últimos cinco anos no valor <strong>máximo de 70 (setenta) pontos;</strong><br />
        III - Valoração do título de Doutor: <strong>10 (dez) pontos</strong>;
      </div>
    <% end %>
    <p class="nivel-1"><strong>6.6.4</strong> - As atividades didáticas e/ou profissionais e da produção científica e/ou artística serão pontuadas conforme tabelas <%= @edital.areas.first.prorrogar && !@edital.areas.first.mantem_qualificacao ? '1, 2 e 3' : '1 e 2' %>.</p>
    <p class="nivel-1"><strong>6.6.5</strong> - Somente serão aceitas certidões nas quais constem o início e o término do período declarado.</p>
    <p class="nivel-1"><strong>6.6.6</strong> - Somente será aceito título de graduação obtido em curso reconhecido pelo MEC <mark>ou de</mark> pós-graduação obtido em curso credenciado e reconhecido pela CAPES, se nacional.</p>
    <p class="nivel-2"><strong>6.6.6.1 - Os graus obtidos no exterior</strong> deverão atender ao disposto nos §§ 2º e 3º, do art. 48, da Lei no 9.394, de 20 de dezembro de 1996 - Lei de Diretrizes e Bases da Educação Nacional (LDB) ─ e a legislação pertinente e complementar.</p>
    <p class="nivel-1"><strong>6.6.7</strong> - Serão desconsiderados ou desclassificados os títulos que não preencherem devidamente os requisitos da comprovação.</p>
    <p class="nivel-1"><strong>6.6.8</strong> - Serão admitidos somente documentos comprobatórios relativos a cada categoria apresentados até a <mark>data limite</mark> fixada.</p>
    <p class="nivel-1"><strong>6.6.9</strong> - Cada título será pontuado uma única vez.</p>
  </div>

  <p><strong>Tabela 1: Atividades Didáticas e/ou Profissionais nos últimos 5 anos</strong></p>
  <table class="titulos">
    <thead>
      <tr>
        <th>Item</th>
        <th>Descrição</th>
        <th>Pontuação</th>
        <th>Pontuação máxima</th>
      </tr>
    </thead>
    <tbody>
    <% item = 1 %>
    <% @edital.areas.first.titulos.where(tipo: 'atividades').each do |titulo| %>
      <tr>
        <td class="item"><%= item %></td>
        <td class="descricao"><%= titulo.descricao %></td>
        <td class="pontuacao"><%= titulo.valor %> pontos<br /> por <%= titulo.unidade_medida %></td>
        <td class="maximo"><%= titulo.maximo %> pontos</td>
      </tr>
      <% item += 1 %>
    <% end %>
      <tr>
        <th colspan=3>Total máximo</th>
        <th><%= @edital.areas.first.maximo_atividades %> pontos</th>
      </tr>
    </tbody>
  </table>

  <p><strong>Tabela 2: Produção Científica e/ou Artística nos últimos 5 anos</strong></p>
  <table class="titulos">
    <thead>
      <tr>
        <th>Item</th>
        <th>Descrição</th>
        <th>Pontuação</th>
        <th>Pontuação máxima</th>
      </tr>
    </thead>
    <tbody>
    <% item = 1 %>
    <% @edital.areas.first.titulos.where(tipo: 'producao', prorrogacao: false).each do |titulo| %>
      <tr>
        <td class="item"><%= item %></td>
        <td class="descricao"><%= titulo.descricao %></td>
        <td class="pontuacao"><%= titulo.valor %> pontos<br />por <%= titulo.unidade_medida %></td>
        <td class="maximo"><%= titulo.maximo %> pontos</td>
      </tr>
      <% item += 1 %>
    <% end %>
      <tr>
        <th colspan=3>Total máximo</th>
        <th><%= @edital.areas.first.maximo_producao %> pontos</th>
      </tr>
    </tbody>
  </table>

  <% if @edital.areas.first.prorrogar && !@edital.areas.first.mantem_qualificacao %>
    <p><strong>Tabela 3: Produção Científica e/ou Artística nos últimos 5 anos (exigência inferior a Doutorado)</strong></p>
    <table class="titulos">
      <thead>
        <tr>
          <th>Item</th>
          <th>Descrição</th>
          <th>Pontuação</th>
          <th>Pontuação máxima</th>
        </tr>
      </thead>
      <tbody>
      <% item = 1 %>
      <% @edital.areas.first.titulos.where(tipo: 'producao', prorrogacao: true).each do |titulo| %>
        <tr>
          <td class="item"><%= item %></td>
          <td class="descricao"><%= titulo.descricao %></td>
          <td class="pontuacao"><%= titulo.valor %> pontos<br />por <%= titulo.unidade_medida %></td>
          <td class="maximo"><%= titulo.maximo %> pontos</td>
        </tr>
        <% item += 1 %>
      <% end %>
        <tr>
          <th colspan=3>Total máximo</th>
          <th>70 pontos</th>
        </tr>
      </tbody>
    </table>
  <% end %>

  <p><strong>Observação:</strong> Os trabalhos publicados em coautoria receberão a mesma pontuação dos trabalhos de autoria exclusiva do candidato.</p>
  <br />
  <div class="item">
    <p><strong>7 - DAS NOTAS E CLASSIFICAÇÃO GERAL</strong></p>
    <p><strong>7.1</strong> - Cada examinador dará uma pontuação entre 0 e 100 pontos, por prova de cada candidato, imediatamente depois de sua realização e apreciação.</p>
    <p><strong>7.2</strong> - A nota de cada prova será obtida pela média aritmética da pontuação atribuída pelos examinadores.</p>
    <p><strong>7.3</strong> - A nota da análise de títulos será obtida pela pontuação atribuída pelos examinadores.</p>
    <p><strong>7.4</strong> - A <strong>classificação geral</strong> dos candidatos far-se-á pela <strong>soma das notas</strong> obtidas na prova escrita, na prova didática e na análise de títulos, observado o disposto no anexo II do Decreto nº. 6.944/2009.</p>
    <p><strong>7.5</strong> - Será considerado <strong>desclassificado do concurso</strong> o candidato que:</p>
    <div class="itens-1">
    a) obtiver pontuação inferior a 70 pontos na prova escrita ou;<br />
    b) obtiver pontuação inferior a 70 pontos na prova didática.
    </div>
  </div>

  <div class="item">
    <p><strong>8 - DA COMISSÃO JULGADORA</strong></p>
    <p><strong>8.1</strong> - O concurso público para professor será realizado por Comissão Julgadora constituída por no mínimo 03 (três) membros titulares e 03 (três) membros suplentes, todos docentes com titulação igual ou superior à exigida dos candidatos, sendo <strong><mark>no mínimo <mark>01 (um)</mark> representante (titular e suplente) integrante de outra Instituição de Ensino Superior</mark></strong>, presidida por docente da UFU.</p>
    <p class="nivel-1"><strong>8.1.1</strong> - A Unidade Acadêmica ou Unidade Especial de Ensino nomeará os membros da Comissão Julgadora do certame e divulgará a portaria de nomeação no sítio oficial da UFU <mark>(www.editais.ufu.br)</mark>, em até 5 (cinco) dias após o deferimento das inscrições.</p>
    <p><strong>8.2</strong> - Será considerado impedido o membro da Comissão Julgadora que:</p>
    <div class="itens-1">
      I - tenha entre os candidatos inscritos, cônjuges, companheiros, parentes consanguíneos, civis ou afins, em linha reta ou colateral, até o terceiro grau civil;<br />
      II - tenha atuado como procurador do candidato;<br />
      III - esteja litigando judicial ou administrativamente com o candidato, ou respectivo cônjuge ou companheiro; <mark>ou</mark><br />
      IV - tenha sido orientador do candidato em processo de titulação acadêmica em nível de mestrado, doutorado ou em estágio de pós-doutoramento, nos cinco anos anteriores ao certame.
    </div>
    <p><strong>8.3</strong> - Será considerado suspeito o membro da Comissão Julgadora que:</p>
    <div class="itens-1">
      I - seja empregador ou empregado, superior ou inferior hierárquico de um dos candidatos;<br />
      II - seja herdeiro presuntivo, donatário de um dos candidatos;<br />
      III - for credor ou devedor de um dos candidatos, de seu cônjuge, companheiro, ou de parentes deste, em linha reta, ou colateral, até o terceiro grau civil;<br />
      IV - tenha publicado, produzido, participado de projetos de extensão ou pesquisa, com algum dos candidatos, nos cinco anos anteriores ao certame;<br />
      V - tenha aconselhado algum dos candidatos sobre qualquer aspecto do certame;<br />
      VI - tenha recebido dádivas antes ou depois do certame; <mark>ou</mark><br />
      VII - tenha amizade ou inimizade notória com um dos candidatos, de seu cônjuge, companheiro, ou de parentes deste, em linha reta, ou colateral, até o terceiro grau civil.
    </div>
    <p><strong>8.4</strong> - Poderá ainda o membro da Comissão Julgadora declarar-se suspeito por motivo de foro íntimo.</p>
    <p><strong>8.5</strong> - Os membros da Comissão Julgadora deverão assinar declaração atestando a inexistência de suspeição e impedimentos.</p>
    <p class="nivel-1"><strong>8.5.1</strong> - O impedimento ou a suspeição cessarão com a desistência ou qualquer forma de eliminação, do Concurso <mark>Público</mark>, da pessoa que os causou.</p>
    <p><strong>8.6</strong> - A impugnação da comissão julgadora, endereçada ao Diretor da Unidade Acadêmica ou Unidade Especial de Ensino, <mark>deverá ser</mark> apresentada por escrito e protocolada junto à DIRPS, que fará os encaminhamentos às autoridades competentes e demais procedimentos pertinentes.</p>
    <p class="nivel-1"><strong>8.6.1</strong> - O prazo para pedido de impugnação de membro (s) da Comissão Julgadora será de 05 (cinco) dias corridos após divulgação da portaria de nomeação da mesma.</p>
    <p class="nivel-1"><strong>8.6.2</strong> - Das decisões proferidas nas impugnações, cabe recurso ao Reitor, no prazo de 05 (cinco) dias corridos.</p>
    <p><strong>8.7</strong> - A Comissão Julgadora tem a autoridade final na apreciação dos aspectos de conteúdo acadêmico do Concurso.</p>
    <p><strong>8.8</strong> - A Comissão Julgadora fará <strong>uma ata para cada fase do concurso público, em duas versões originais</strong>, com relato detalhado de todo o desenvolvimento do certame, especialmente sobre a sua realização, com menção, de forma clara e objetiva, dos critérios adotados para correção das provas e atribuição de notas aos candidatos e, ao final do concurso, deverá encaminhar uma versão original à DIRPS, acompanhada do parecer conclusivo, do espelho de notas e do resultado final do concurso público. A Unidade deve <mark>arquivar</mark> uma ata original de cada uma das fases no processo do concurso.</p>
  </div>

  <div class="item">
    <p><strong>9 - DAS VISTAS DE PROVAS E DOS RECURSOS</strong></p>
    <p><strong>9.1</strong> - Admitir-se-á recurso para cada fase do concurso público, para cada candidato, relativamente ao conteúdo das questões e/ou temas, desde que devidamente fundamentado e encaminhado exclusivamente, à DIRPS, pelo e-mail: <strong>recursos.docentes@prograd.ufu.br</strong> <mark>(informações pelo telefone (34) 3239-4127/4128)</mark>, que fará os encaminhamentos às autoridades competentes e demais procedimentos pertinentes, sendo sumariamente indeferidos recursos interpostos por outros meios.</p>
    <p><strong>9.2</strong> - Os resultados serão publicados ao final de cada uma das fases:</p>
    <div class="itens-1">
      a) <strong>A DIRPS divulgará o resultado da prova escrita</strong> e a data e horário para que os candidatos possam fazer vista da mesma, cabendo interposição de recurso, endereçado à Comissão Julgadora, no prazo de 02 (dois) dias contados a partir da data marcada para a vista de prova escrita, <strong>que se não acolher suas razões ou acolhê-las apenas em partes, o encaminhará ao Reitor</strong>.<br />
      b) <strong>A DIRPS divulgará o resultado final do certame</strong>, contemplando as provas escrita e didáticas e a análise de títulos, informando a nota obtida por cada candidato com espelho de notas e classificação final, e oportunizando a partir de então, mediante solicitação por simples petição endereçada à DIRPS, a vista das provas e dos respectivos espelhos de avaliação e interposição de recurso endereçado à Comissão Julgadora no prazo de 02 (dois) dias corridos contados a partir da divulgação do resultado final do concurso pela DIRPS, <strong>que se não acolher suas razões ou acolhê-las apenas em partes, o encaminhará ao Reitor</strong>.
    </div>
    <p><strong>9.3</strong> - Tanto a vista da prova escrita, quanto o acesso às demais informações, <strong>resumem-se à disponibilização de cópias digitais</strong> dos documentos redigidos pelo candidato, ou acesso às gravações, espelhos, gabaritos, quando houver. <strong>Não haverá, nesse momento, qualquer espaço para considerações</strong>, contraditas, argumentações ou reconsideração pela Comissão Julgadora, competindo à DIRPS providenciar a disponibilização.</p>
    <p><strong>9.4</strong> - Não será permitido ao candidato conhecer o conteúdo ou a pontuação individual obtida pelos demais candidatos. Os candidatos <strong>não terão acesso</strong> às provas escritas, didáticas, gravações ou ao espelho individual <strong>de outros candidatos</strong>, garantindo-se o acesso somente aos documentos que contenham <strong>informações de caráter público e geral e resultados consolidados.</strong></p>
    <p><strong>9.5</strong> - A vista de prova e da pontuação individual, e/ou o recurso, poderão ser promovidos e efetivados pelo candidato ou por seu procurador legalmente constituído.</p>
    <p><strong>9.6</strong> - O conteúdo dos julgamentos de recursos apresentados quanto às provas ou ao resultado final do concurso público estará à disposição dos candidatos ou de seus procuradores legalmente constituídos na DIRPS.</p>
    <p><strong>9.7</strong> - Os pontos correspondentes às questões porventura anuladas serão atribuídos a todos os candidatos, independentemente de terem os mesmos recorrido.</p>
  </div>

  <div class="item">
    <p><strong>10 - DAS VAGAS RESERVADAS AOS CANDIDATOS COM DEFICIÊNCIA</strong></p>
    <p><strong>10.1 - Serão reservadas aos candidatos com deficiência 10% (dez por cento) das vagas</strong> destinadas a cada cargo por área de conhecimento e localidade e das que vierem a ser criadas durante o prazo de validade do Concurso Público, em cumprimento ao disposto no art. 37, inciso VIII, da Constituição da República Federativa do Brasil, na forma do § 2º do artigo 5º da Lei Federal nº 8.112, de 11 de dezembro de 1990, e do § 1º do art. 37 do Decreto nº 3.298, de 20 de dezembro de 1999, e suas alterações, os quais deverão escolher a área a que pretendem concorrer, devendo ser observada a compatibilidade entre as atribuições do cargo de professor e a deficiência declarada.</p>
    <p class="nivel-1"><strong>10.1.1</strong> - O candidato que pretenda concorrer às vagas reservadas a candidatos com deficiência deverá declarar, no ato da inscrição, possuir deficiência, nos termos da legislação, sendo as informações prestadas de sua inteira responsabilidade.</p>
    <p><strong>10.2</strong> - Conforme o § 2º do art. 37 do Decreto Federal nº 3.298/1999, caso a aplicação do percentual de 10 % (dez por cento) do total de vagas reservadas a cada cargo resulte em número fracionado, este será elevado até o primeiro número inteiro subsequente. Contudo, será respeitado o limite máximo de 20% (vinte por cento) na reserva de vagas, conforme dispõe o § 2º do art. 5º da Lei Federal nº 8.112, de 11 de dezembro de 1990.</p>
    <p><strong>10.3</strong> - Somente haverá reserva imediata de vagas destinadas a candidatos com deficiência para os cargos, por área de conhecimento e localidade, com número de vagas ofertadas em número igual ou superior a 5 (cinco).</p>
    <p><strong>10.4</strong> - O candidato que pretenda concorrer às vagas reservadas para pessoas com deficiência e que, no período das inscrições, não tenha requerido esta condição, não poderá fazê-lo posteriormente, não sendo consideradas pessoas com deficiência e, consequentemente, concorrerá às vagas de ampla concorrência.</p>
    <p><strong>10.5</strong> - Os candidatos que se declararem como pessoas com deficiência, caso aprovados no concurso público, serão convocados antes da posse para submeter-se a Junta Médica Oficial da UFU que verificará sua qualificação como pessoa com deficiência nos termos do art. 43 do Decreto n° 3.298/99 e suas alterações, e a compatibilidade de sua deficiência com o exercício normal das atribuições do cargo.</p>
    <p class="nivel-1"><strong>10.5.1</strong> - Deverá, ainda, durante o estágio probatório, submeter-se às avaliações periódicas a serem realizadas pela equipe multiprofissional para fins de verificar a compatibilidade com as atribuições do cargo e a deficiência apresentada (§ 2°, do art. 43, do Decreto n. 3.298/99).</p>
    <p class="nivel-1"><strong>10.5.2</strong> - Para fins da avaliação de que trata o item 10.5, o candidato será convocado uma única vez. O não comparecimento caracterizará a sua desistência da condição de concorrente às vagas de pessoas com deficiência.</p>
    <p class="nivel-1"><strong>10.5.3</strong> - Compete à Junta Médica Oficial da UFU a qualificação do candidato como pessoa com deficiência, nos termos das categorias definidas pela legislação vigente sobre a matéria. Incumbe à Junta Médica Oficial da UFU a aferição da compatibilidade entre a deficiência diagnosticada e o exercício normal das atribuições do cargo.</p>
    <p class="nivel-1"><strong>10.5.4</strong> - A reprovação pela Junta Médica Oficial da UFU ou o não comparecimento a ela acarretará a perda do direito às vagas reservadas aos candidatos com deficiência.</p>
    <p class="nivel-2"><strong>10.5.4.1</strong> - Caberá recurso da decisão da Junta Médica Oficial no prazo de 2(dois) dias úteis a partir do resultado da avaliação médica. O recurso deverá ser encaminhado à Junta Médica Oficial e o resultado será divulgado no prazo de 5 (cinco) dias úteis.</p>
    <p class="nivel-1"><strong>10.5.5</strong> - O candidato com deficiência reprovado pela Junta Médica Oficial da UFU por não ter sido considerado deficiente figurará na lista de classificação geral na vaga à qual concorre, desde que conste na relação dos candidatos aprovados no certame, classificados de acordo com o que determina o Anexo II do Decreto nº 6.944 de 21/08/2009.</p>
    <p class="nivel-1"><strong>10.5.6</strong> - O candidato qualificado pela Junta Médica Oficial da UFU com deficiência que figure na lista de classificação geral dentro do número de vagas destinadas à ampla concorrência permanecerá concorrendo às vagas reservadas às pessoas com deficiência.</p>
    <p class="nivel-1"><strong>10.5.7</strong> - Somente serão consideradas pessoas com deficiência aquelas que se enquadram nas categorias discriminadas no artigo 4º do Decreto nº 3.298, de 20 de dezembro de 1999, alterado pelo Decreto nº 5.296, de 2 de dezembro de 2004.</p>
    <p class="nivel-2"><strong>10.5.7.1</strong> - Não serão considerados como deficiência visual os distúrbios de acuidade visual passíveis de correção.</p>
    <p><strong>10.6</strong> - Os candidatos que fizerem a opção pela reserva de vagas para pessoas com deficiência concorrerão, concomitantemente, a estas vagas reservadas (Lei nº 8.112/90, art. 5º, §2º), bem assim às vagas destinadas à ampla concorrência, podendo, ainda, se for o caso, concorrer às vagas reservadas a negros (Lei nº 12.990/2012), de acordo com a sua classificação no concurso público, desde que atendidas as demais regras deste edital.</p>
    <p><strong>10.7</strong> - O candidato com deficiência, resguardadas as condições especiais previstas no Decreto n° 3.298/99, particularmente em seu artigo 40, participará do concurso público em igualdade de condições com os demais candidatos no que se refere ao conteúdo das provas, à avaliação e aos critérios de aprovação, ao horário e local de aplicação das provas e à nota mínima exigida para aprovação.</p>
    <p><strong>10.8</strong> - O candidato que, no ato da inscrição, declarar-se como pessoa com deficiência, se classificado no concurso público, figurará em lista específica e, caso obtenha classificação necessária, figurará também na listagem de classificação geral de acordo com o que determina o Anexo II do Decreto nº 6.944 de 21/08/2009.</p>
    <p><strong>10.9</strong> - Em caso de não preenchimento de vaga reservada, em virtude de desistência de candidato, contraindicação na avaliação médica ou por outro motivo, a vaga será preenchida pelo candidato com deficiência posteriormente classificado.</p>
    <p class="nivel-1"><strong>10.9.1</strong> - Na hipótese de não haver candidatos aprovados em número suficiente para que sejam ocupadas as vagas reservadas, as vagas remanescentes serão revertidas para ampla concorrência e serão preenchidas pelos demais candidatos aprovados, observada a ordem de classificação no concurso público.</p>
    <p><strong>10.10</strong> - A nomeação dos candidatos aprovados respeitará os critérios de alternância e de proporcionalidade, que consideram a relação entre o número total de vagas e o número de vagas reservadas a candidatos com deficiência.</p>
    <p><strong>10.11</strong> - O candidato que prestar declarações falsas será excluído do processo, em qualquer fase deste concurso público, e serão nulos todos os atos delas decorrentes, além de responder, civil e criminalmente, pelas consequências decorrentes do seu ato. Na hipótese de já ter sido nomeado, ficará sujeito à anulação deste ato após procedimento administrativo em que lhe seja assegurado o contraditório e a ampla defesa, sem prejuízo, igualmente, de outras sanções cabíveis.</p>
    <p><strong>10.12</strong> - Após a investidura do candidato com deficiência, a deficiência não poderá ser arguida para justificar a concessão de aposentadoria nem de reabilitação, visto que deve ser compatível com o exercício do cargo, salvo as hipóteses excepcionais de agravamento imprevisível da deficiência, que impossibilitem a permanência do servidor em atividade.</p>
  </div>

  <div class="item">
    <p><strong>11 - DAS VAGAS RESERVADAS AOS CANDIDATOS NEGROS</strong></p>
    <p><strong>11.1 - Serão reservadas aos negros 20% (vinte por cento) das vagas</strong> destinadas a cada cargo por área de conhecimento e localidade, e das que vierem a ser criadas durante o prazo de validade do concurso público, em cumprimento à Lei nº 12.990, de 9 de junho de 2014, os quais deverão escolher a área a que pretendem concorrer.</p>
    <p class="nivel-1"><strong>11.1.1</strong> - O candidato que pretenda concorrer às vagas reservadas a candidatos negros deverá se autodeclarar preto ou pardo, conforme quesito cor ou raça utilizado pela Fundação Instituto Brasileiro de Geografia e Estatística - IBGE, assinalando esta opção no ato da inscrição, sendo as informações prestadas de sua inteira responsabilidade.</p>
    <p><strong>11.2</strong> - Conforme o § 2º do artigo 1º da Lei nº 12.990/2014, caso a aplicação do percentual de que trata o subitem 11.1 deste edital resulte em número fracionado, este será elevado até o primeiro número inteiro subsequente, em caso de fração igual ou maior que 0,5 (cinco décimos), ou diminuído para o número inteiro imediatamente inferior, em caso de fração menor que 0,5 (cinco décimos).</p>
    <p><strong>11.3</strong> - Somente haverá reserva imediata de vagas destinadas a candidatos negros para os cargos, por área de conhecimento e localidade, com número de vagas ofertadas em número igual ou superior a 3 (três).</p>
    <p><strong>11.4</strong> - O candidato que pretenda concorrer às vagas reservadas para negros e que, no período das inscrições, não tenha requerido esta condição, não poderá fazê-lo posteriormente, e, consequentemente, concorrerá às vagas de ampla concorrência.</p>
    <p><strong>11.5</strong> - Na hipótese de constatação de declaração falsa, o candidato será eliminado do concurso público e, se houver sido nomeado, ficará sujeito à anulação deste ato após procedimento administrativo em que lhe seja assegurado o contraditório e a ampla defesa, sem prejuízo de outras sanções cabíveis.</p>
    <p><strong>11.6</strong> - A autodeclaração terá validade somente para o concurso público para o qual o interessado se inscreveu, não podendo ser aproveitada em outras inscrições ou concursos públicos.</p>
    <p><strong>11.7</strong> - Os candidatos autodeclarados pretos ou pardos que fizerem a opção pela reserva de vagas concorrerão, concomitantemente, às vagas reservadas pela Lei nº 12.990/2014, bem assim às vagas destinadas à ampla concorrência, podendo, ainda, se for o caso, concorrer às vagas reservadas a pessoas com deficiência (Lei nº 8.112/90, art. 5º, §2º), de acordo com a sua classificação no concurso/processo seletivo, desde que atendidas as demais regras deste edital.</p>
    <p><strong>11.8</strong> - O candidato que optar por se declarar negro para concorrer às vagas reservadas concorrerá em igualdade de condições com os demais candidatos, no que se refere ao conteúdo das provas, à avaliação e aos critérios de aprovação, ao horário e local de aplicação das provas e à nota mínima exigida para aprovação.</p>
    <p><strong>11.9</strong> - Os candidatos negros aprovados dentro do número de vagas oferecidas à ampla concorrência não serão computados para efeito de preenchimento das vagas reservadas.</p>
    <p><strong>11.10</strong> - Em caso de não preenchimento de vaga reservada, em virtude de desistência de candidato, contraindicação na avaliação médica ou por outro motivo, a vaga será preenchida pelo candidato negro posteriormente classificado.</p>
    <p class="nivel-1"><strong>11.10.1</strong> - Na hipótese de não haver candidatos aprovados em número suficiente para que sejam ocupadas as vagas reservadas a negros, as vagas remanescentes serão revertidas para ampla concorrência e serão preenchidas pelos demais candidatos aprovados, observada a ordem de classificação no concurso.</p>
    <p><strong>11.11</strong> - A nomeação dos candidatos aprovados respeitará os critérios de alternância e de proporcionalidade, que consideram a relação entre o número total de vagas e o número de vagas reservadas a candidatos negros.</p>
    <p><strong>11.12</strong> - O candidato que prestar declarações falsas será excluído do processo, em qualquer fase deste Concurso Público, e serão nulos todos os atos delas decorrentes, além de responder, civil e criminalmente, pelas consequências decorrentes do seu ato. Na hipótese de já ter sido nomeado, ficará sujeito à anulação deste ato após procedimento administrativo em que lhe seja assegurado o contraditório e a ampla defesa, sem prejuízo, igualmente, de outras sanções cabíveis.</p>
  </div>

  <div class="item">
    <p><strong>12 - REQUISITOS PARA INVESTIDURA NO CARGO</strong></p>
    <p><strong>12.1</strong> - O candidato aprovado dentro do número de vagas ofertadas neste Edital tem direito a nomeação, observados os prazos e procedimentos constantes da legislação pertinente, a rigorosa ordem de classificação e o prazo de validade do Concurso Público de Provas e Títulos.</p>
    <p><strong>12.2</strong> - O candidato aprovado no concurso de que trata este Edital será investido no cargo, se atender às seguintes exigências:</p>
    <div class="itens-1">
      a) ter nacionalidade brasileira. No caso de ter nacionalidade portuguesa, estar amparado pelo estatuto de igualdade entre brasileiros e portugueses, com reconhecimento do gozo de direitos políticos. Se estrangeiro, ser portador de visto permanente;<br />
      b) estar em dia com as obrigações eleitorais;<br />
      c) estar em dia com os deveres do serviço militar, para os candidatos do sexo masculino;<br />
      d) ser portador da titulação mínima exigida obtida em curso credenciado e reconhecido nos termos da legislação pertinente, indispensável à investidura no cargo de professor;<br />
      e) nos termos do Art.48 da Lei 9.394 de 20/12/96, os diplomas expedidos por universidades estrangeiras deverão, no caso de graduação, serem revalidados por universidades públicas que tenham curso do mesmo nível e área ou equivalente, e nas hipóteses de Mestrado e de Doutorado, serem reconhecidos por universidades que possuam cursos de pós-graduação reconhecidos e avaliados, na mesma área de conhecimento e em nível equivalente ou superior;<br />
      f) ter aptidão física e mental para o exercício das atribuições do cargo, comprovada perante a Junta Médica da UFU;<br />
      g) não estar suspenso do exercício profissional, nem cumprindo outra penalidade disciplinar.
    </div>
    <p><strong>12.3</strong> - Será exigida do candidato a apresentação de documentos suficientes a comprovação do cumprimento das exigências supramencionadas, especialmente:</p>
    <div class="itens-1">
      a) Cópia da Cédula de Identidade ou outra prova de ser brasileiro nato ou naturalizado. No caso de estrangeiros, cópia do passaporte com comprovante ou protocolo do requerimento do visto de permanência no país;<br />
      b) Cópia do Título de Eleitor (para brasileiros natos ou naturalizados);<br />
      c) Prova de quitação com a justiça eleitoral e com o serviço militar, quando couber (para brasileiros natos ou naturalizados);<br />
      d) Cópia da documentação comprobatória da qualificação mínima exigida para o Concurso;<br />
      e) outros documentos que se fizerem necessários.
    </div>
  </div>

  <div class="item">
    <p><strong>13 - DAS DISPOSIÇÕES FINAIS</strong></p>
    <p><strong>13.1</strong> - O prazo de validade do presente Concurso Público de Provas e Títulos será de 01 (um) ano, a contar da data de publicação da homologação, prorrogável por igual período, no interesse da Universidade Federal de Uberlândia.</p>
    <p><strong>13.2</strong> - Será excluído do concurso o candidato que:</p>
    <div class="itens-1">
      I - fizer, em qualquer documento, declaração falsa ou inexata;<br />
      II - valendo-se da condição de servidor público, utilizar ou tentar utilizar meios fraudulentos para obter a aprovação própria ou de terceiros, em qualquer fase do concurso público;<br />
      III - agir com incorreção ou descortesia para com qualquer membro da Comissão Julgadora ou aplicador das provas;<br />
      IV - durante a realização da prova for apanhado em flagrante, utilizando-se de qualquer meio fraudulento, ou for responsável por falsa identificação pessoal;<br />
      V - identificar-se na prova escrita, mediante a menção de seu nome ou de qualquer outra forma;<br />
      VI - não atender as determinações regulamentares da Universidade.
    </div>
    <p><strong>13.3</strong> - Na contagem dos prazos estabelecidos neste Edital, excluir-se-á o dia do começo e incluir-se-á o do vencimento. Os prazos só se iniciam e vencem em dia de expediente na Universidade. Os prazos que vencerem aos sábados, domingos ou feriados, serão prorrogados para o primeiro dia útil seguinte.</p>
    <p><strong>13.4</strong> - Ainda que não haja recurso, pode o Reitor avocar toda a documentação do concurso, anulando-o se necessário, caso tenha ciência do cometimento de alguma irregularidade no seu processamento ou no seu resultado.</p>
    <p><strong>13.5</strong> - A Pró-Reitoria de Gestão de Pessoas abrirá processo administrativo para documentar todos os fatos e os atos referentes ao presente concurso.</p>
    <p><strong>13.5.1</strong> - Em nenhuma hipótese serão restituídas aos candidatos cópias de documentos, que integrarão obrigatoriamente o processo administrativo supramencionado.</p>
    <p><strong>13.6</strong> - A Universidade Federal de Uberlândia poderá, a seu exclusivo critério e obedecendo às normas legais pertinentes, admitir candidatos homologados em Concursos Públicos e não nomeados, de outras Instituições Federais de Ensino, bem como ceder a essas Instituições candidatos homologados e não nomeados, nos termos deste edital.</p>
    <p><strong>13.7</strong> - Caberá impugnação ao edital do certame, endereçada à PROGEP e protocolada junto à DIRPS, no prazo de 05 (cinco) dias, contatos de sua publicação no Diário Oficial da União.</p>
    <p><strong>13.8 - As respostas às impugnações ao edital e à Comissão julgadora, bem como as respostas aos recursos de cada uma das fases do certame, serão enviadas exclusivamente por e-mail para os requerentes.</strong></p>
    <p><strong>13.9</strong> - O resultado final do Concurso público será <strong>homologado pela Pró-Reitoria de Gestão de Pessoas e publicado no Diário Oficial da União.</strong></p>
    <p><strong>13.10</strong> - Incorporar-se-ão a este edital as normas complementares, as informações contidas no site <mark>www.editais.ufu.br</mark> e quaisquer editais complementares que venham a ser publicados.</p>
    <p><strong>13.11</strong> - Os casos omissos serão resolvidos pelo Reitor.</p>
  </div>

  <br />
  <p class="center">Uberlândia, <%= @edital.data %></p>
  <br />
  <br />
  <p class="center"><strong>Marlene Marins de Camargos Borges</strong></p>
</div>
