<div class="container">
  <h3><%= tipo_certame[@edital.tipo] %></h3>

  <h4>Edital <%= @edital.numero %></h4>

  <p><h4><strong><%= "Área".pluralize(@edital.areas.length) %>: <%= @edital.areas.map(&:nome).to_sentence %></strong></h4></p>
  <p>Data da publicação: <%=l @edital.publicacao, format: :default %></p>

  <br />
  <p>Unidade: <%= @edital.areas.first.unidade.nome %></p>
  <p>E-mail: <%= @edital.areas.first.unidade.email %></p>
  <p>Telefone: <%= @edital.areas.first.unidade.telefone %></p>
  <br />
  Documentos:<br />
  <%= link_to icon('file-pdf-o','Edital completo'), baixar_edital_path(@edital) %>
</div>
