<div class="header container-fluid">
  <div class="row">
    <div class="texto col-md-6">
      <span class="span-ufu">Pró-Reitoria de</span>
      <span class="span-title">Gestão de Pessoas</span>
      <span class="span-ufu">UNIVERSIDADE FEDERAL DE UBERLÂNDIA</span>
    </div>
    <div class="busca col-md-6">
      BUSCA
    </div>
  </div>
  <div class="row">
    <div class="nav col-md-6">
      <%= link_to "Solicitar edital" %>
    </div>
    <div class="login col-md-6">
      <% if user_signed_in? %>
        Bem-vindo,
        <%= link_to "#{current_user.nome}", edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Cadastrar", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
  </div>
</div>